#BlindBox {
    margin-bottom: 60px;

    .Title {
        margin-top: 60px;
        font-family: 'Impact';
        font-style: normal;
        font-weight: 400;
        font-size: 60px;
        line-height: 73px;
        color: rgba(0, 0, 0, 0.8);
        text-align: center;
    }

    .subTitle {
        font-family: 'DIN';
        font-style: normal;
        font-weight: 700;
        font-size: 36px;
        line-height: 44px;
        /* identical to box height */
        letter-spacing: 0.14em;
        text-align: center;
        margin-top: 40px;
        background: linear-gradient(180deg, #61E1A0 0%, #5CE0FB 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        text-fill-color: transparent;
    }

    .imgBox {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0px auto;
        width: 600px;
        height: 600px;
        position: relative;

        img {
            max-width: 300px;
            max-height: 300px;
        }

        .boxContainer {

            .img1 {
                position: absolute;
                left: 2%;
                top: 66%;
            }

            .img2 {
                position: absolute;
                left: -4%;
                top: 40%;
            }

            .img3 {
                position: absolute;
                left: 8%;
                top: 12%;
            }

            .img4 {
                position: absolute;
                left: 40%;
                top: 5%;
            }

            .img5 {
                position: absolute;
                right: 2%;
                top: 66%;

            }

            .img6 {
                position: absolute;
                right: -4%;
                top: 40%;
            }

            .img7 {
                position: absolute;
                right: 8%;
                top: 12%;
            }
        }
    }

    .imgMiddleBox {
        display: flex;
        justify-content: center;

        img {
            max-width: 230px;
            width: 100%;
        }
    }

    .priceBox {
        .price {
            font-family: 'DIN';
            font-style: normal;
            font-weight: 700;
            font-size: 30px;
            line-height: 37px;
            /* identical to box height */
            color: #00BE13;
            text-align: center;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        img {
            width: 30px;
            height: 30px;
            margin-right: 12px;
        }

        .boxNum {
            font-family: 'PingFang SC';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 22px;
            color: rgba(0, 190, 19, 0.8);
            text-align: center;
            margin: 12px auto;
        }

        .btnBox {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-bottom: 12px;

            .buyBtn {
                min-width: 150px;
                width: max-content;
                margin: 12px 10px;
                height: max-content;
                padding: 20px 40px;
                background: url(../image/immeBuy.png) no-repeat center / 100% 100%;
                font-family: 'DIN';
                font-style: normal;
                font-weight: 700;
                font-size: 20px;
                line-height: 24px;
                color: #FFFFFF;
                text-shadow: 0px 1px 0px #000000;
            }

            img {
                width: 18px;
                height: 18px;
            }
        }

    }

    .goodsBox {
        display: flex;
        justify-content: space-between;

        .goods {
            position: relative;

            .surplus {
                font-family: 'PingFang SC';
                font-style: normal;
                font-weight: 700;
                font-size: 18px;
                line-height: 25px;
                color: rgba(0, 0, 0, 0.7);
                text-align: center;
                margin-top: 5px;
            }

            .surplus {
                margin-top: 0px;
                width: 48px;
                height: 48px;
                position: absolute;
                top: 0px;
                right: 0px;
                font-family: 'PingFang SC';
                font-style: normal;
                font-weight: 700;
                font-size: 18px;
                line-height: 25px;
                /* identical to box height */
                color: #FFFFFF;
            }

            .title {
                text-align: center;
            }

            .num {
                text-align: center;
            }
        }
    }

    .tabsBox {

        overflow-x: auto;
        margin: 50px 0px 30px;

        .Tabs {
            display: flex;
            min-width: 450px;
            margin-bottom: 12px;

            >div {

                display: flex;
                align-items: center;
                justify-content: center;
                padding: 8px 24px;
                border-radius: 6px;
                margin-right: 20px;
                font-family: 'PingFang SC';
                font-style: normal;
                font-weight: 700;
                font-size: 14px;
                line-height: 22px;
                color: rgba(0, 0, 0, 0.6);
            }

            .activeTab {
                font-weight: 700;
                color: #FFFFFF;
                background: url(../image/btnBg.png) no-repeat center / 100% 100%;
                border: 1px solid transparent;

            }

            .invalidTab {
                font-weight: 400;
                color: rgba(0, 0, 0, 0.6);
                border: 1px solid rgba(0, 0, 0, 0.2);
                box-sizing: border-box;
            }
        }
    }

    .contentBox {
        padding: 40px 50px;
        font-family: 'PingFang SC';
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        line-height: 28px;
        color: rgba(0, 0, 0, 0.7);
        background: #FFFFFF;
        box-shadow: 15px 15px 0px rgba(116, 153, 138, 0.4), 29px 10px 91px rgba(0, 0, 0, 0.1);
        border-radius: 19px;
        overflow-x: auto;

        .contractAddr {
            max-width: 523px;
            border: 1px solid #14FD87;
            border-radius: 10px;
            padding: 26px 22px;
            font-family: 'PingFang SC';
            font-style: normal;
            font-weight: 700;
            font-size: 14px;
            line-height: 20px;
            color: #000000;
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-top: 44px;

            .addrTitle {
                font-family: 'PingFang SC';
                font-style: normal;
                font-weight: 700;
                font-size: 14px;
                line-height: 20px;
                color: #000000;
            }

            .addr {
                font-family: 'PingFang SC';
                font-style: normal;
                font-weight: 700;
                font-size: 16px;
                line-height: 22px;
                color: #000000;
                word-break: break-all;

                img {
                    margin-left: 5px;
                }
            }
        }

        .bigRecord {

            .items {
                display: flex;
                align-items: center;
                justify-content: space-between;

                .item {
                    text-align: center;
                    font-family: 'PingFang SC';
                    font-style: normal;
                    font-weight: 700;
                    font-size: 20px;
                    line-height: 28px;
                    /* identical to box height */
                    color: #000000;
                }
            }

            .titles {
                border-bottom: 1px solid rgba(0, 0, 0, 0.1);
                padding-bottom: 20px;
                min-width: 860px;

            }

            .bigBox {
                overflow: auto;
                max-height: 300px;
                min-width: 860px;

                .contents {
                    .item {
                        margin-top: 25px;
                        font-family: 'PingFang SC';
                        font-style: normal;
                        font-weight: 700;
                        font-size: 16px;
                        line-height: 22px;
                        color: #000000;
                    }

                    .hash {
                        color: #009E4E;
                    }
                }
            }

            .time {
                width: 150px;
            }

            .type,
            .value {
                width: 120px;
            }

            .addr {
                width: 240px;
            }

            .hash {
                width: 240px;
            }
        }

        .middleRecord {


            .items {
                display: flex;
                align-items: center;
                justify-content: space-between;

                .item {
                    text-align: center;
                    font-family: 'PingFang SC';
                    font-style: normal;
                    font-weight: 700;
                    font-size: 20px;
                    line-height: 28px;
                    /* identical to box height */
                    color: #000000;
                }
            }

            .titles {
                // border-bottom: 1px solid rgba(0, 0, 0, 0.1);
                padding-bottom: 20px;

            }

            .bigBox {
                max-height: 400px;
                overflow-y: auto;

                &::-webkit-scrollbar {
                    width: 2px; //y轴滚动条粗细
                }

                //滚动条里面的小方块，能上下左右移动（取决于是垂直滚动条还是水平滚动条）
                &::-webkit-scrollbar-thumb {
                    background: #14FD87;
                    border-radius: 9px;
                }

                //滚动条的轨道（里面装有thumb）滚动槽
                &::-webkit-scrollbar-track {
                    background: rgba(0, 0, 0, 0.1);
                    border-radius: 9px;
                }

                .contents {
                    .item {
                        margin-top: 25px;
                        font-family: 'PingFang SC';
                        font-style: normal;
                        font-weight: 700;
                        font-size: 16px;
                        line-height: 22px;
                        color: #000000;
                    }

                    .hash {
                        color: #009E4E;
                    }

                    .switchIcon {
                        display: flex;
                        align-items: center;
                    }
                }

                .Box {
                    border-bottom: 1px solid rgba(0, 0, 0, 0.1);

                    .smallBox {

                        .item {
                            display: flex;
                            justify-content: space-between;
                            align-items: center;
                            margin: 8px 0px;
                            font-family: 'PingFang SC';
                            font-style: normal;
                            font-weight: 400;
                            font-size: 12px;
                            line-height: 17px;
                            /* identical to box height */
                            color: rgba(0, 0, 0, 0.8);

                            span {
                                font-family: 'PingFang SC';
                                font-style: normal;
                                font-weight: 400;
                                font-size: 12px;
                                line-height: 17px;
                                /* identical to box height */
                                text-align: right;
                                color: #000000;
                            }
                        }

                        .hash {
                            span {

                                font-family: 'PingFang SC';
                                font-style: normal;
                                font-weight: 700;
                                font-size: 12px;
                                line-height: 17px;
                                /* identical to box height */
                                text-align: right;
                                color: #009E4E;
                            }
                        }
                    }
                }

            }

            .time {
                width: 150px;
            }

            .type,
            .value {
                width: 120px;
            }

            .addr {
                width: 240px;
            }

            .hash {
                width: 240px;
            }
        }

    }

}

@media (max-width:1024px) {
    #BlindBox .priceBox .price {
        font-size: 16px;
    }

    #BlindBox .goodsBox {
        overflow-x: auto;

        .goods {
            padding: 10px;

            .surplus {
                top: 10px;
                right: 10px;
            }
        }
    }

    #BlindBox .priceBox .btnBox .buyBtn {
        padding: 8px 20px;
        min-width: 100px;
    }

    #BlindBox .contentBox {
        padding: 20px 40px;
    }
}

@media (max-width:768px) {
    #BlindBox .Tabs>div {
        padding: 8px 12px;
    }

    #BlindBox .contentBox {
        padding: 20px 12px;
    }
}

@media (max-width:425px) {
    #BlindBox {
        margin-bottom: 30px;
    }

    #BlindBox .contentBox .contractAddr {
        padding: 8px 12px;

        .addrTitle {
            margin-right: 10px;
        }
    }

    #BlindBox .tabsBox .Tabs>div {
        padding: 8px 12px;
        font-size: 12px;
    }

    #BlindBox .priceBox img {
        width: 20px;
        height: 20px;
    }

    #BlindBox .contentBox {
        font-size: 12px;
    }

}

@media (max-width:500px) {
    #BlindBox .contentBox {
        font-size: 12px;
    }

    #BlindBox .contentBox .middleRecord .bigBox .contents .item {
        font-size: 12px !important;
    }
}

.Title {
    font-family: 'PingFang SC';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 34px;
    /* identical to box height */
    text-align: center;
    color: #000000;
    margin-bottom: 20px;

}

.successBuyModal {
    .box {
        display: flex;
        flex-direction: column;
        align-items: center;



        img {
            display: flex;
            justify-content: center;
            max-width: 237px;
            max-height: 237px;
            margin: 0px auto;
            border-radius: 11.4516px;
        }

        .type {
            margin: 10px auto;
            font-family: 'DIN';
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            line-height: 19px;
            color: #000000;
        }

        .confirmBtn {
            margin-top: 20px;
            width: 127px;
            height: 48px;
            font-family: 'PingFang SC';
            font-style: normal;
            font-weight: 700;
            font-size: 16px;
            line-height: 22px;
            color: #FFFFFF;
            background: url(../image/btnBg.png) no-repeat center / 100% 100%;
        }
    }

    .autoBox {
        max-width: 300px;
        margin: auto;
    }
}


.RadioModal {
    .items {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;

        .item {
            width: 50%;
            display: flex;
            align-items: center;
            margin-top: 20px;

            .img {
                margin-right: 12px;

                img {
                    width: 36px;
                    height: 36px;
                }
            }

            .title {
                font-family: 'DIN';
                font-style: normal;
                font-weight: 500;
                font-size: 14px;
                line-height: 17px;
                color: #000000;
                text-shadow: 0px 9px 4px rgba(255, 255, 255, 0.6);
                margin-bottom: 12px;
            }

            .value {
                font-family: 'DIN';
                font-style: normal;
                font-weight: 700;
                font-size: 16px;
                line-height: 20px;
                /* identical to box height */
                color: #000000;
            }
        }
    }
}

@media (max-width:425px) {
    #BlindBox .Title {
        margin: 20px auto 0px;
        font-size: 28px !important;
    }

    #BlindBox .subTitle {
        font-size: 16px;
        margin-top: 0px;
    }

    #BlindBox .imgMiddleBox {
        display: flex;
        align-items: center;
        justify-content: center;

        img {
            width: 80%;
            margin: auto;
        }
    }

    #BlindBox .goodsBox .goods {
        img {
            width: 80px;
        }
    }

    #BlindBox .goodsBox .goods .surplus {
        width: 25px;
        height: 25px;
        font-size: 12px;
    }

    #BlindBox .tabsBox {
        margin: 20px 0px 10px;
    }

    #BlindBox .contentBox .middleRecord .items .item {
        font-weight: 400;
        font-size: 16px;
    }

    #BlindBox .contentBox .middleRecord .titles {
        padding-bottom: 0px;
    }

    #BlindBox .contentBox .middleRecord .bigBox .contents .switchIcon {
        img {
            width: 12px;
        }
    }

    #BlindBox .contentBox .contractAddr {
        margin-top: 20px;
    }
}