.DestructFund {
    max-width: 1200px;
    margin: auto;
    width: 100%;
    padding: 0px 40px;

    .SwapTitle {
        margin-top: 60px;
        color: #FFFFFF;
        font-weight: 700;
        font-size: 24px;
        text-align: center;
    }

    .NodeDesc {
        max-width: 1200px;
        margin: auto;
        width: 100%;
        box-shadow: inset 0px 0px 4px rgba(0, 0, 0, 0.1);
        margin-top: 70px;
        font-family: 'PingFang SC';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 25px;
        color: #FFFFFF;

    }

    .Content {
        margin: 70px auto 60px;
        display: flex;
        justify-content: space-between;

        .DestructJoin {
            margin-right: 20px;
        }

        .DestructReward {
            margin-left: 20px;
        }

        >div {
            padding: 30px 55px;
            max-width: 485px;
            width: 100%;
            background: #1F2045;
            box-shadow: inset 0px 0px 4px rgba(0, 0, 0, 0.1);
            border-radius: 19px;

            .title {
                font-family: 'DIN';
                font-style: normal;
                font-weight: 700;
                font-size: 24px;
                line-height: 29px;
                text-align: center;
                color: #DB2DCF;
                margin-bottom: 30px;
            }

            .DestructValue,
            .rewardValue,
            .toFreed {
                display: flex;
                align-items: center;
                font-family: 'PingFang SC';
                font-style: normal;
                font-weight: 400;
                font-size: 18px;
                // line-height: 25px;
                color: #FFFFFF;
                margin-bottom: 25px;

                >span {
                    // font-family: 'PingFang SC';
                    // font-style: normal;
                    // font-weight: 400;
                    // font-size: 18px;
                    // line-height: 25px;
                    // color: #DB2DCF;
                    font-family: 'DIN';
                    font-style: normal;
                    font-weight: 700;
                    font-size: 26px;
                    line-height: 32px;
                    /* identical to box height */
                    letter-spacing: 0.08em;
                    color: #00FF94;
                }
            }

            .DestructValue {
                color: #00FF94;
            }

            .subTitle {
                display: flex;
                align-items: center;
                font-family: 'PingFang SC';
                font-style: normal;
                font-weight: 400;
                font-size: 12px;
                color: rgba(255, 255, 255, 0.9);
                margin-bottom: 20px;

                img {
                    margin-left: 10px;
                }
            }

            .process {
                display: flex;
                align-items: center;
                margin-bottom: 30px;

                .Freed,
                .value {
                    width: 65px;
                    font-family: 'PingFang SC';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 20px;
                    /* identical to box height */
                    color: #FFFFFF;
                }

                .Freed {
                    width: 42px;
                }

                .value {
                    text-align: right;
                }

                .processBox {
                    height: 10px;
                    flex: auto;
                    background: rgba(255, 255, 255, 0.1);
                    border-radius: 8px;

                    .processBar {
                        height: 100%;
                        background: linear-gradient(90deg, #4EADF5 0%, #DB2DCF 100%);
                        border-radius: 8px;
                    }
                }
            }

            .inputBox {
                padding: 16px 18px;
                background: #171833;
                border: 1px solid rgba(255, 255, 255, 0.1);
                border-radius: 10px;
                display: flex;
                justify-content: space-between;
                align-items: center;

                .destructInput {
                    width: 100%;
                    margin: 0px 12px 0px 0px;

                }

                input {
                    width: 110px;
                    background: #171833;
                    color: #FFFFFF;
                    padding: 0;
                    border: 0;
                    font-family: 'PingFang SC';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 24px;
                    line-height: 34px;

                    input[type=number]::-webkit-inner-spin-button,
                    input[type=number]::-webkit-outer-spin-button {
                        -webkit-appearance: none;
                        margin: 0;
                    }

                    input[type=number] {
                        -moz-appearance: textfield;
                    }

                    &::placeholder {
                        font-family: 'PingFang SC';
                        font-style: normal;
                        font-weight: 400;
                        font-size: 14px;
                        line-height: 20px;
                        /* identical to box height */
                        color: rgba(255, 255, 255, 0.5);
                    }
                }

                input::-webkit-outer-spin-button,
                input::-webkit-inner-spin-button {
                    -webkit-appearance: none !important;
                }

                input[type="number"] {
                    -moz-appearance: textfield;
                }

                .maxBtn {
                    font-family: 'PingFang SC';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 22px;
                    color: #DB2DCF;
                }

                .coinBox {
                    display: flex;
                    align-items: center;
                    font-family: 'DIN';
                    font-style: normal;
                    font-weight: 700;
                    font-size: 16px;
                    line-height: 20px;
                    /* identical to box height */
                    letter-spacing: 0.08em;
                    color: #FFFFFF;

                    img {
                        margin-right: 8px;
                        width: 20px;
                        height: 20px;
                    }
                }
            }

            .Balance {
                margin-top: 15px;
                font-family: 'PingFang SC';
                font-style: normal;
                font-weight: 400;
                font-size: 14px;
                line-height: 20px;
                /* identical to box height */
                text-align: right;
                color: #FFFFFF;
            }

            .Btn {
                margin: 36px auto 15px;
                padding: 0px 40px;
                font-family: 'PingFang SC';
                font-style: normal;
                font-weight: 400;
                font-size: 14px;
                line-height: 20px;
                /* identical to box height */
                color: #FFFFFF;
                width: 316px;
                height: 40px;
                background: linear-gradient(90deg, #4EADF5 0%, #DB2DCF 100%);
                border-radius: 6px;

            }

            .DestructBtning {
                background: rgba(255, 255, 255, 0.2);
            }

            .getRecord,
            .DestructRecord {
                font-family: 'PingFang SC';
                font-style: normal;
                font-weight: 400;
                font-size: 12px;
                line-height: 17px;
                /* identical to box height */
                color: rgba(255, 255, 255, 0.6);
                text-align: center;
                display: flex;
                justify-content: center;
                align-items: center;

                img {
                    margin-left: 6px;
                }
            }
        }
    }
}

@media screen and (max-width:1024px) {
    .DestructFund .Content>div {
        padding: 30px 20px;

        .Btn {
            width: 100%;
        }
    }

}

@media screen and (max-width:768px) {
    .DestructFund .Content {
        margin: 70px auto 60px;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        align-items: center;


        >div {
            margin: 0px !important;

            &:last-child {
                margin-top: 20px !important;
            }
        }
    }
}

@media screen and (max-width:425px) {
    .DestructFund .Content>div .inputBox input {
        width: 100px;
    }

    .DestructFund {
        padding: 0px 20px;
    }
}

@media screen and (max-width:375px) {
    .DestructFund {
        padding: 0px 20px;
    }

    .DestructFund .Content>div .inputBox {
        padding: 16px 12px;
    }
}