.bj {
  position: relative;
  top: 0;
  left: 0;
  background-color: #F5F5F5;

  z-index: -2;

  .space {
    width: 100%;
    padding: 10% 0;
    background-image: url("../image/home/BG1.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
    align-items: center;

    .tit {
      height: 20%;
      padding-top: 20%;

      .title {
        font-family: "Impact" !important;
        font-style: normal;
        font-weight: 400;
        font-size: 60px;
        line-height: 1.5;
        text-align: center;
        letter-spacing: 0.055em;
        text-transform: uppercase;
        color: #ffffff;
      }

      .xiang {
        font-family: "DIN";
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 172.6%;
        text-align: center;
        text-transform: uppercase;
        color: #ffffff;
      }

      .btn {
        margin: auto;
        margin-top: 31px;
        width: 165px;
        height: 50px;
        line-height: 1.5;
        display: flex;
        justify-content: center;
        align-items: center;
        background-image: url("../image/home/btn1.png");
        background-repeat: no-repeat;
        background-size: 100% 100%;
        font-family: "Impact" !important;
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        text-align: center;
        letter-spacing: 0.08em;
        text-transform: uppercase;
        color: #000000;
      }
    }
  }

  .group {
    width: 100%;

    .case {
      width: 100%;
      margin-top: 150px;

      .casebox-mobile {
        display: none;
      }

      .title {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        top: 0;
        left: 0;

        .bei {
          position: absolute;
          top: -40px;
          left: 50%;
          transform: translateX(-50%);
          width: 60%;
          font-family: "Impact" !important;
          font-style: normal;
          font-weight: 400;
          font-size: 60px;
          text-align: center;
          letter-spacing: 0.005em;
          color: rgba(0, 0, 0, 0.08);
        }

        .zhi {

          font-family: "Impact" !important;
          font-size: 80px;
          text-align: center;
          letter-spacing: 0.135em;
          text-transform: uppercase;

          color: rgba(0, 0, 0, 0.8);
        }

      }

      .casebox {
        max-width: 1200px;
        min-height: 421px;
        display: flex;
        margin: auto;
        margin-top: 60px;
        justify-content: space-between;
        align-items: flex-start;

        .casebox-left {
          width: 36%;
          padding: 0;
          // background-image: url("../image/home/box.png");
          background-size: 100% 100%;
          background-repeat: no-repeat;
        }

        .casebox-right {
          flex: 1;
          background-size: 100% 100%;
          background-repeat: no-repeat;
          position: relative;
          top: 0;
          left: 0;

          .casebox-right-img {
            width: 40%;
            padding: 10% 0;
            background-image: url("../image/home/mystery-case.png");
            background-repeat: no-repeat;
            background-size: 100% 100%;
          }

          .casebox-right-group {

            width: 74%;
            transform: translate(34%, -17%);

            .casebox-right-text {

              font-weight: 700;
              font-size: 20px;
              color: rgba(0, 0, 0, 0.8);
            }

            .casebox-right-btn {
              margin-top: 24px;
              display: flex;
              justify-content: center;
              align-items: center;
              background: linear-gradient(170.11deg, #14FD87 0.81%, #008666 99.74%);
              border-radius: 9px;
              padding: 8px;
              width: 136px;
              cursor: pointer;

              .casebox-right-btn-content {
                display: flex;
                justify-content: center;
                align-items: center;
                font-weight: 700;
                padding: 8px 12px;
                font-size: 16px;
                color: #FFFFFF;
                background: radial-gradient(113.75% 113.75% at 50% 50%, #21FF8F 0%, #54E2EE 100%);
                border-radius: 6px;
                width: 120px;
              }
            }
          }
        }
      }
    }

    .ecol {
      width: 100%;
      margin-top: 150px;

      .ecolbox-mobile {
        display: none;
      }

      .title {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        top: 0;
        left: 0;

        .bei {
          position: absolute;
          top: -40px;
          left: 50%;
          transform: translateX(-50%);
          width: 60%;
          font-family: "Impact" !important;
          font-style: normal;
          font-weight: 400;
          font-size: 60px;

          text-align: center;
          letter-spacing: 0.005em;
          color: rgba(0, 0, 0, 0.08);
        }

        .zhi {

          font-family: "Impact" !important;
          font-size: 80px;
          text-align: center;
          letter-spacing: 0.135em;
          text-transform: uppercase;

          color: rgba(0, 0, 0, 0.8);
        }
      }

      .ecolbox {
        max-width: 1200px;
        min-height: 421px;
        display: flex;
        margin: auto;
        margin-top: 60px;
        justify-content: space-between;
        align-items: center;
        position: relative;
        top: 0;
        left: 0;

        .ecolbox-group-card {
          display: flex;
          justify-content: start;
          align-items: center;
          position: absolute;
          top: -120px;
          left: 0;
          width: 100%;
          height: 200px;
          z-index: 1;

          .ecolbox-group-card-item {
            width: 16%;
            padding: 8.1% 0;
            background-repeat: no-repeat;
            background-size: 100% 100%;
            margin: 0 8px;
            border-radius: 16px;
          }

        }

        .ecolbox-left {
          width: 36%;
          padding: 23% 0;
          background-repeat: no-repeat;
          background-position: center;
          background-size: contain;
          cursor: pointer;
          position: relative;
          top: 0;
          left: 0;
          z-index: 2;
        }

        .ecolbox-right {
          width: 60%;
          background-size: 100% 100%;
          background-repeat: no-repeat;
          display: flex;
          justify-content: space-between;
          align-items: center;

          .ecolbox-right-nft-content {

            flex: 1;

            .ecolbox-right-name {
              font-family: "Impact" !important;
              font-size: 40px;
              letter-spacing: 0.055em;
              text-transform: uppercase;
              color: #01D067;
            }

            .ecolbox-right-content {
              font-weight: 700;
              font-size: 20px;
              color: rgba(0, 0, 0, 0.7);
              margin: 20px 0 40px;
              line-height: 2;
            }

            .ecolbox-right-btn {
              display: flex;
              justify-content: center;
              align-items: center;
              background: linear-gradient(170.11deg, #14FD87 0.81%, #008666 99.74%);
              border-radius: 9px;
              padding: 8px;
              width: 136px;
              cursor: pointer;

              .ecolbox-right-btn-content {
                display: flex;
                justify-content: center;
                align-items: center;
                font-weight: 700;
                padding: 8px 12px;
                font-size: 16px;
                color: #FFFFFF;
                background: radial-gradient(113.75% 113.75% at 50% 50%, #21FF8F 0%, #54E2EE 100%);
                border-radius: 6px;
                width: 120px;
              }
            }
          }

          .ecolbox-right-process {
            width: 16px;
            padding: 0 4px;

            .ecolbox-right-process-item {
              width: 8px;
              height: 71px;

              background: #C8D1C8;
              border-radius: 40px;
              margin: 4px 0;
              cursor: pointer;
            }
          }

        }


      }
    }
  }

  .feans {
    width: 100%;
    margin-top: 150px;

    .title {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      top: 0;
      left: 0;

      .bei {
        position: absolute;
        top: -40px;
        left: 50%;
        transform: translateX(-50%);
        width: 60%;

        font-family: "Impact" !important;
        font-style: normal;
        font-weight: 400;
        font-size: 60px;

        text-align: center;
        letter-spacing: 0.005em;
        color: rgba(0, 0, 0, 0.08);
      }

      .zhi {

        font-family: "Impact" !important;
        font-size: 80px;
        text-align: center;
        letter-spacing: 0.135em;
        text-transform: uppercase;

        color: rgba(0, 0, 0, 0.8);
      }
    }

    .feans-contract-address {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 20px 0;
      color: #009E4E;
      font-size: 24px;

      .feans-contract-address-copy {
        background-image: url("../image/copyIcon.png");
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        width: 24px;
        height: 24px;
        margin-left: 16px;
        cursor: pointer;
      }
    }

    .feans-group {
      max-width: 1200px;
      margin: 0 auto;

      .feans-content {
        font-size: 18px;
        color: #000000;
        line-height: 1.72;
      }

      .feans-content-next {
        margin-top: 30px;

        .feans-content-next-link {
          display: inline-block;
          color: #14FD87;
          font-size: 26px;
          font-weight: 900;
          cursor: pointer;
          animation-duration: 2s;
          --animate-delay: 0.9s;
          animation-iteration-count: infinite;
          padding: 0 8px;
        }

        .feans-content-next-link-first {
          -webkit-text-fill-color: transparent;
          background-image: linear-gradient(to bottom, #14FD87 0%, #00A3FF 100%);
          background-position-x: initial;
          background-position-y: initial;
          background-size: initial;
          background-repeat-x: initial;
          background-repeat-y: initial;
          background-attachment: initial;
          background-origin: initial;
          -webkit-background-clip: text;
          background-color: initial;
        }

        .feans-content-next-link-last {
          -webkit-text-fill-color: transparent;
          background-image: linear-gradient(to bottom, #FD14BC 0%, #5814FD 100%);
          background-position-x: initial;
          background-position-y: initial;
          background-size: initial;
          background-repeat-x: initial;
          background-repeat-y: initial;
          background-attachment: initial;
          background-origin: initial;
          -webkit-background-clip: text;
          background-color: initial;
        }
      }

    }

    .feans-asstes-chart-group {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      top: 0;
      left: 0;
      margin: 60px 0;

      .feans-asstes-group-chart-base {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: flex;
        justify-content: center;
        align-items: center;
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
      }

      .feans-asstes-group-chart1 {
        width: 80%;
        padding: 32% 0;
        background-image: url("../image/home/feans-asstes-group-chart1.png");
        transition: 0.5s;
        animation: home-rotate 10s linear infinite;
        display: flex;
        justify-content: center;
        align-items: center;
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
      }

      .feans-asstes-group-chart2 {
        width: 80%;
        padding: 28% 0;
        background-image: url("../image/home/feans-asstes-group-chart2.png");
        z-index: 2;

        .feans-asstes-group-chart-logo {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          z-index: 10;
          width: 21.7%;
          background-image: url("../image/home/feans-asstes-chart-logo.png");
          padding: 11.535% 0;
          
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        }
      }

      .feans-asstes-share-process-base {
        position: absolute;
        text-align: left;
        font-weight: 500;
        font-size: 18px;
        cursor: pointer;
        z-index: 20;

        .feans-asstes-share-text {
          font-weight: 700;
          font-size: 24px;
        }

        &:hover {

          font-weight: 700;
          font-size: 22px;

          .feans-asstes-share-text {
            font-weight: 900;
            font-size: 28px;
          }
        }
      }

      .feans-asstes-share-process1 {
        top: 12%;
        left: 74%;
        color: #FF6B00;

        .feans-asstes-share-text {
          color: #FF6B00;
        }
      }

      .feans-asstes-share-process2 {
        bottom: 24%;
        left: 74%;
        color: #5B6CFF;

        .feans-asstes-share-text {
          color: #5B6CFF;
        }
      }

      .feans-asstes-share-process3 {
        bottom: 10px;
        left: 50%;
        transform: translateX(-50%);
        color: #E16DFF;

        .feans-asstes-share-text {
          color: #E16DFF;
        }
      }

      .feans-asstes-share-process4 {
        top: 70%;
        left: 20%;
        transform: translateX(-50%);
        color: #9672FF;

        .feans-asstes-share-text {
          color: #9672FF;
        }
      }

      .feans-asstes-share-process5 {
        top: 40%;
        left: 20%;
        transform: translateX(-50%);
        color: #000AFF;

        .feans-asstes-share-text {
          color: #000AFF;
        }
      }

      .feans-asstes-share-process6 {
        top: 12%;
        left: 28%;
        transform: translateX(-50%);
        color: #FFAE12;

        .feans-asstes-share-text {
          color: #FFAE12;
        }
      }

      .feans-asstes-share-process7 {
        top: 10px;
        left: 42%;
        transform: translateX(-50%);
        color: #FF3495;

        .feans-asstes-share-text {
          color: #FF3495;
        }
      }

    }

    .feans-asstes-amount-group {
      width: 100%;
      display: flex;
      justify-content: space-around;
      align-items: center;

      .feans-asstes-amount-group-base {
        width: 32%;
        padding: 3.5% 0;
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        font-weight: 700;
        font-size: 26px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #FFFFFF;

        .feans-asstes-amount-label {
          font-size: 18px;
          font-weight: 700;
          color: #FFFFFF;
        }
      }

      .feans-asstes-amount-group-left {
        background-image: url("../image/home/destroy.png");
      }

      .feans-asstes-amount-group-right {
        background-image: url("../image/home/supply.png");
      }

    }
  }

  .habits {
    width: 100%;
    margin-top: 150px;

    .title {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      top: 0;
      left: 0;

      .bei {
        position: absolute;
        top: -40px;
        left: 50%;
        transform: translateX(-50%);
        width: 60%;

        font-family: "Impact" !important;
        font-style: normal;
        font-weight: 400;
        font-size: 60px;

        text-align: center;
        letter-spacing: 0.005em;
        color: rgba(0, 0, 0, 0.08);
      }

      .zhi {

        font-family: "Impact" !important;
        font-size: 80px;
        text-align: center;
        letter-spacing: 0.135em;
        text-transform: uppercase;

        color: rgba(0, 0, 0, 0.8);
      }
    }

    .habits-group {
      max-width: 1200px;
      min-height: 421px;
      display: flex;
      margin: auto;
      margin-top: 140px;
      justify-content: space-between;
      align-items: flex-start;

      .habits-mobile {
        display: none;
      }

      .habits-group-chart {
        width: 100%;
        padding: 44%;
        background-image: url("../image/home/habits-bg.png");
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        position: relative;
        top: 0;
        left: 0;

        .habits-process-first-base {
          background-repeat: no-repeat;
          background-position: center;
          background-size: contain;
          position: absolute;

          .habits-process-second-mouse-card {
            display: none;
          }

          &:hover {
            .habits-process-second-mouse-card {
              display: block;
            }
          }
        }

        .habits-process-first-group {
          width: 32%;
          padding: 11.5%;
          background-image: url("../image/home/habits-process-first.png");
          top: -2%;
          left: 30%;
        }

        .habits-process-second-group {
          width: 30%;
          padding: 13.1%;
          background-image: url("../image/home/habits-process-second.png");
          bottom: 24%;
          left: -2%;
        }

        .habits-process-third-group {
          width: 28%;
          padding: 12.6%;
          background-image: url("../image/home/habits-process-third.png");
          top: 50%;
          right: 4%;
        }

        .habits-process-fourth-group {
          width: 24%;
          padding: 9.43%;
          background-image: url("../image/home/habits-process-fourth.png");
          top: 32%;
          left: 24%;
        }

        .habits-process-fifth-group {
          width: 22%;
          padding: 10.68%;
          background-image: url("../image/home/habits-process-fifth.png");
          top: 30%;
          left: 56%;
        }

        .habits-process-last-group {
          width: 18%;
          padding: 7.97%;
          background-image: url("../image/home/habits-process-last.png");
          top: 56%;
          left: 46%;
        }
      }


    }
  }

  .road-map {
    width: 100%;
    margin-top: 150px;

    .title {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      top: 0;
      left: 0;

      .bei {
        position: absolute;
        top: -40px;
        left: 50%;
        transform: translateX(-50%);
        width: 60%;

        font-family: "Impact" !important;
        font-style: normal;
        font-weight: 400;
        font-size: 60px;

        text-align: center;
        letter-spacing: 0.005em;
        color: rgba(0, 0, 0, 0.08);
      }

      .zhi {

        font-family: "Impact" !important;
        font-size: 80px;
        text-align: center;
        letter-spacing: 0.135em;
        text-transform: uppercase;

        color: rgba(0, 0, 0, 0.8);
      }
    }

    .road-map-group {
      display: flex;
      margin: auto;
      margin-top: 40px;
      justify-content: center;
      align-items: center;
      width: 100%;
      padding: 19% 0;
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
    }
  }

  .partner {
    width: 100%;
    background-repeat: no-repeat;
    margin-top: 150px;

    .partibox {
      position: relative;
      text-align: center;

      .title {
        width: 100%;
        text-align: center;
        position: relative;

        .bei {
          position: absolute;
          top: -40px;
          left: 50%;
          transform: translateX(-50%);
          width: 60%;

          font-family: "Impact" !important;
          font-style: normal;
          font-weight: 400;
          font-size: 60px;

          text-align: center;
          letter-spacing: 0.005em;
          color: rgba(0, 0, 0, 0.08);
        }

        .zhi {

          font-family: "Impact" !important;
          font-size: 80px;
          text-align: center;
          letter-spacing: 0.135em;
          text-transform: uppercase;

          color: rgba(0, 0, 0, 0.8);
        }
      }
    }

    .pabtbox {
      display: inline-block;
      margin: 100px auto;
      display: flex;
      flex-flow: row wrap;
      justify-content: start;
      align-items: center;
      max-width: 1300px;
      min-height: 240px;

      .bt {
        // width: 25%;
        width: 300px;
        margin: 20px 10px;

        img {
          max-width: 200px;
          display: block;
          // margin: 0 auto;
          margin-left: 60px;
        }
      }
    }

  }

  .home-bg-first {
    position: absolute;
    width: 1298px;
    height: 1260.69px;
    top: 1200px;
    right: 0;
    transform: translateX(50%);
    background: linear-gradient(345.64deg, rgba(77, 228, 229, 0.3) 12.26%, rgba(39, 245, 167, 0.3) 41.28%, rgba(21, 253, 137, 0.3) 84.62%);
    filter: blur(340.166px);
    z-index: -1;
  }

  .home-bg-second {
    position: absolute;
    width: 1510px;
    height: 1553.41px;
    top: 3322px;
    left: 0;
    transform: translateX(-50%);
    background: linear-gradient(22.41deg, rgba(80, 227, 233, 0.15) 11.64%, rgba(29, 252, 175, 0.15) 24.61%, rgba(42, 243, 171, 0.15) 35.35%, rgba(22, 252, 139, 0.15) 54.59%);
    filter: blur(431.294px);
    z-index: -1;
  }

  .home-bg-third {
    position: absolute;
    width: 1230.68px;
    height: 1290px;
    top: 4870px;
    right: 0;
    transform: translateX(50%);
    background: linear-gradient(319.7deg, rgba(86, 224, 242, 0.15) -4.36%, rgba(51, 239, 186, 0.15) 24.99%, rgba(36, 246, 161, 0.15) 47.43%, rgba(21, 253, 137, 0.15) 82.99%);
    filter: blur(372.205px);
    z-index: -1;
  }

  .home-bg-last {
    position: absolute;
    width: 1692.42px;
    height: 1774px;
    bottom: -800px;
    left: 0;
    transform: translateX(-50%);
    background: linear-gradient(319.7deg, rgba(86, 224, 242, 0.12) -4.36%, rgba(51, 239, 186, 0.12) 24.99%, rgba(36, 246, 161, 0.12) 47.43%, rgba(21, 253, 137, 0.12) 82.99%);
    filter: blur(511.854px);
    z-index: -1;
  }

}

@media screen and (max-width: 840px) {
  #home.bj {

    .title {
      .bei {
        top: -32px;
        font-size: 36px;
      }

      .zhi {
        font-size: 48px;
      }
    }

    .space {
      width: 100%;
      background-image: url("../image/home/BG1-mobile.png");
      margin-bottom: 36px;

      .tit {

        .title {
          font-size: 40px;
          font-weight: 400;
        }

        .xiang {
          font-size: 20px;
        }

        .btn {
          width: 136px;
          font-size: 16px;
        }
      }
    }

    .group {
      .case {
        margin-top: 60px;

        .casebox {
          max-width: 336px;
          display: none;
        }

        .casebox-mobile {
          width: 100%;
          padding: 0 20px;
          display: block;

          .casebox-mobile-vicetitle {
            font-family: 'Impact' !important;
            width: 100%;
            text-align: center;
            -webkit-text-fill-color: transparent;
            background-image: linear-gradient(180deg, rgba(25, 253, 142, 0.6) 0%, rgba(80, 229, 232, 0.6) 100%);
            background-position-x: initial;
            background-position-y: initial;
            background-size: initial;
            background-repeat-x: initial;
            background-repeat-y: initial;
            background-attachment: initial;
            background-origin: initial;
            -webkit-background-clip: text;
            background-color: initial;
            font-size: 24px;
          }

          .casebox-mobile-content {
            color: rgba(0, 0, 0, 0.6);
            font-weight: 400;
            font-size: 16px;
            line-height: 1.5;
          }

          .casebox-mobile-group {
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;

            .casebox-mobile-img {
              width: 50%;
              padding: 25% 0;
              background-size: 100% 100%;
              background-repeat: no-repeat;
              background-image: url("../image/home/box.png");
            }

            .casebox-mobile-btn {
              margin-top: 16px;
              display: flex;
              justify-content: center;
              align-items: center;
              background: linear-gradient(170.11deg, #14FD87 0.81%, #008666 99.74%);
              border-radius: 9px;
              padding: 4px;
              width: 108px;
              cursor: pointer;

              .casebox-mobile-btn-content {
                display: flex;
                justify-content: center;
                align-items: center;
                font-weight: 700;
                padding: 6px 10px;
                font-size: 14px;
                color: #FFFFFF;
                background: radial-gradient(113.75% 113.75% at 50% 50%, #21FF8F 0%, #54E2EE 100%);
                border-radius: 6px;
                width: 100px;
              }
            }
          }

        }
      }

      .ecol {
        width: 100%;
        margin-top: 60px;

        .ecolbox {
          width: 100%;
          display: none;
        }

        .ecolbox-mobile {
          width: 100%;
          padding: 0 20px;
          display: block;

          .ecolbox-mobile-group {
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;

            .ecolbox-mobile-name {
              font-family: 'Impact' !important;
              width: 100%;
              text-align: center;
              -webkit-text-fill-color: transparent;
              background-image: linear-gradient(180deg, #01D067 0%, #48DBCB 100%);
              background-position-x: initial;
              background-position-y: initial;
              background-size: initial;
              background-repeat-x: initial;
              background-repeat-y: initial;
              background-attachment: initial;
              background-origin: initial;
              -webkit-background-clip: text;
              background-color: initial;
              font-size: 24px;
              margin: 24px 0 12px;
            }

            .ecolbox-mobile-img {
              width: 100%;
              padding: 50% 0;
              background-size: 100% 100%;
              background-repeat: no-repeat;
              border-radius: 16px;
            }

            .swiper {
              width: 100%;
              margin: 24px 0;
            }

            .swiper-slide {
              display: flex;
              align-items: center;
              justify-content: center;
              border-radius: 18px;
              font-size: 22px;
              font-weight: bold;
              color: #fff;
              background: transparent;
              transform: translate(25%);

              .swiper-slide-shadow {
                display: none;
              }
            }

          }

          .ecolbox-mobile-content-group {
            display: flex;
            justify-content: space-between;
            align-items: center;

            .ecolbox-mobile-content-icon {
              cursor: pointer;
              width: 30px;
              height: 30px;
            }

            .ecolbox-mobile-content {
              flex: 1;
              padding: 0 20px;
              color: rgba(0, 0, 0, 0.6);
              font-weight: 400;
              font-size: 16px;
              line-height: 1.5;
              user-select: text;
            }
          }

        }

      }
    }

    .feans {
      width: 100%;
      margin-top: 60px;

      .feans-contract-address {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0;
        color: #009E4E;
        font-size: 14px;

        .feans-contract-address-copy {
          width: 20px;
          height: 20px;
          margin-left: 8px;
        }
      }

      .feans-group {
        max-width: 100%;
        margin: 0;
        padding: 0 20px;

        .feans-content {
          font-size: 14px;
          color: #000000;
          line-height: 1.72;
        }

        .feans-content-next {
          margin-top: 16px;

          .feans-content-next-link {
            font-size: 18px;
          }
        }

      }

      .feans-asstes-chart-group {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        top: 0;
        left: 0;
        margin-top: 36px;

        .feans-asstes-share-process-base {
          position: absolute;
          text-align: left;
          font-weight: 500;
          font-size: 14px;
          cursor: pointer;
          z-index: 20;

          .feans-asstes-share-text {
            font-weight: 700;
            font-size: 18px;
          }

          &:hover {

            font-weight: 700;
            font-size: 16px;

            .feans-asstes-share-text {
              font-weight: 900;
              font-size: 22px;
            }
          }
        }

        .feans-asstes-share-process1 {
          top: 12%;
          left: 74%;
        }

        .feans-asstes-share-process2 {
          bottom: 24%;
          left: 76%;
        }

        .feans-asstes-share-process3 {
          bottom: -20px;
          left: 50%;
          transform: translateX(-50%);
        }

        .feans-asstes-share-process4 {
          top: 70%;
          left: 20%;
          transform: translateX(-50%);
        }

        .feans-asstes-share-process5 {
          top: 40%;
          left: 14%;
          transform: translateX(-50%);
        }

        .feans-asstes-share-process6 {
          top: 12%;
          left: 20%;
          transform: translateX(-50%);
        }

        .feans-asstes-share-process7 {
          top: -10px;
          left: 40%;
          transform: translateX(-50%);
        }
      }

      .feans-asstes-amount-group {
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin-top: 36px;

        .feans-asstes-amount-group-base {
          width: 40%;
          padding: 4.375% 0;
          font-size: 16px;

          .feans-asstes-amount-label {
            font-size: 14px;
          }
        }
      }
    }

    .habits {
      width: 100%;
      margin-top: 60px;

      .habits-group {
        width: 100%;
        margin: 40px 0 0;

        .habits-group-chart {
          display: none;
        }

        .habits-mobile {
          width: 100%;
          display: block;

          .habits-mobile-group {
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
          }

          .habits-mobile-content-group {
            width: 80%;
            display: flex;
            justify-content: space-between;
            align-items: center;

            .habits-mobile-content-icon {
              cursor: pointer;
              width: 42px;
              height: 42px;
            }

            .habits-mobile-content {
              width: 90%;
              padding: 31% 0;
              background-size: 100% 100%;
              background-repeat: no-repeat;
              display: flex;
              justify-content: center;
              align-items: center;
              margin: 0 20px;
            }
          }

          .habits-mobile-card-group {
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 36px;

            .habits-mobile-card {
              width: 80%;

              .habits-mobile-card-title-img {
                height: 48px;
              }

              .habits-mobile-card-content {
                background: #62F0A8;
                border-radius: 14px;
                padding: 16px;

                .habits-mobile-card-title-group {
                  width: 100%;
                  display: flex;
                  justify-content: center;
                  align-items: center;

                  .habits-mobile-card-title {
                    font-family: 'Impact';
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-size: 20px;
                    line-height: 1.5;
                    text-align: center;
                    letter-spacing: 0.055em;
                    color: #006B32;
                    white-space: nowrap;
                    font-weight: 700;
                  }

                  .habits-mobile-card-vicetitle {
                    font-family: 'Impact';
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-size: 20px;
                    line-height: 1.5;
                    text-align: center;
                    letter-spacing: 0.055em;
                    color: #006B32;
                  }
                }

                .habits-mobile-card-text {
                  font-family: 'DIN';
                  font-style: normal;
                  font-weight: 500;
                  font-size: 14px;
                  line-height: 1.5;
                  color: #006B32;
                  margin-top: 20px;
                }
              }
            }

          }
        }

      }
    }

    .road-map {
      width: 100%;
      margin-top: 60px;

      .road-map-group {
        display: none;
      }

      .road-map-mobile-group-chart {
        display: flex;
        margin-top: 40px;
        padding: 40% 0;
        justify-content: center;
        align-items: center;
        width: 100%;
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
      }
    }

    .partner {
      width: 100%;
      background-repeat: no-repeat;
      margin-top: 60px;

      .partibox {
        position: relative;
        text-align: center;

      }

      .pabtbox {
        display: flex;
        margin: 24px auto 48px;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-evenly;
        align-items: center;

        .bt {
          width: 100px;
          margin: 20px 10px;

          img {
            max-width: 100px;
            display: block;
            margin: 0;
          }
        }
      }

    }

  }
}

@media screen and (max-width: 520px) {
  #home.bj {

    .title {
      .bei {
        top: -16px;
        font-size: 20px;
      }

      .zhi {
        font-size: 24px;
        letter-spacing: 0.05em;
      }
    }

    .space {
      width: 100%;
      background-image: url("../image/home/BG1-mobile.png");
      margin-bottom: 24px;
      padding: 0;

      .tit {
        padding-top: 30%;

        .title {
          font-size: 18px;
          font-weight: 400;
        }

        .xiang {
          font-size: 12px;
          zoom: 0.87;
          padding: 8px 20px 0;
        }

        .btn {
          width: 92px;
          font-size: 12px;
          height: 28px;
          margin: 8px auto 16px;
        }
      }
    }

    .group {
      .case {
        margin-top: 60px;

        .casebox {
          max-width: 336px;
          display: none;
        }

        .casebox-mobile {
          width: 100%;
          padding: 0 20px;
          display: block;

          .casebox-mobile-vicetitle {
            font-family: 'Impact' !important;
            width: 100%;
            text-align: center;
            -webkit-text-fill-color: transparent;
            background-image: linear-gradient(180deg, rgba(25, 253, 142, 0.6) 0%, rgba(80, 229, 232, 0.6) 100%);
            background-position-x: initial;
            background-position-y: initial;
            background-size: initial;
            background-repeat-x: initial;
            background-repeat-y: initial;
            background-attachment: initial;
            background-origin: initial;
            -webkit-background-clip: text;
            background-color: initial;
            font-size: 18px;
            padding: 4px 0;
          }

          .casebox-mobile-content {
            color: rgba(0, 0, 0, 0.6);
            font-weight: 400;
            font-size: 14px;
            line-height: 1.5;
          }

          .casebox-mobile-group {
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;

            .casebox-mobile-img {
              width: 50%;
              padding: 25% 0;
              background-size: 100% 100%;
              background-repeat: no-repeat;
              background-image: url("../image/home/box.png");
            }

            .casebox-mobile-btn {
              margin-top: 16px;
              display: flex;
              justify-content: center;
              align-items: center;
              background: linear-gradient(170.11deg, #14FD87 0.81%, #008666 99.74%);
              border-radius: 9px;
              padding: 4px;
              width: 92px;
              cursor: pointer;

              .casebox-mobile-btn-content {
                display: flex;
                justify-content: center;
                align-items: center;
                font-weight: 700;
                padding: 4px 8px;
                font-size: 12px;
                color: #FFFFFF;
                background: radial-gradient(113.75% 113.75% at 50% 50%, #21FF8F 0%, #54E2EE 100%);
                border-radius: 6px;
                width: 84px;
              }
            }
          }

        }
      }

      .ecol {
        width: 100%;
        margin-top: 60px;

        .ecolbox {
          width: 100%;
          display: none;
        }

        .ecolbox-mobile {
          width: 100%;
          padding: 0 20px;
          display: block;

          .ecolbox-mobile-group {
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;

            .ecolbox-mobile-name {
              font-family: 'Impact' !important;
              width: 100%;
              text-align: center;
              -webkit-text-fill-color: transparent;
              background-image: linear-gradient(180deg, #01D067 0%, #48DBCB 100%);
              background-position-x: initial;
              background-position-y: initial;
              background-size: initial;
              background-repeat-x: initial;
              background-repeat-y: initial;
              background-attachment: initial;
              background-origin: initial;
              -webkit-background-clip: text;
              background-color: initial;
              font-size: 18px;
              margin: 24px 0 12px;
            }

            .ecolbox-mobile-img {
              width: 100%;
              padding: 50% 0;
              background-size: 100% 100%;
              background-repeat: no-repeat;
              border-radius: 8px;
            }

            .swiper {
              width: 100%;
              margin: 24px 0;
            }

            .swiper-slide {
              // width: 60%;
              // padding: 30% 0;
              display: flex;
              align-items: center;
              justify-content: center;
              border-radius: 18px;
              font-size: 22px;
              font-weight: bold;
              color: #fff;
              background: transparent;
              transform: translate(25%);

              .swiper-slide-shadow {
                display: none;
              }
            }

          }

          .ecolbox-mobile-content-group {
            display: flex;
            justify-content: space-between;
            align-items: center;

            .ecolbox-mobile-content-icon {
              cursor: pointer;
              width: 30px;
              height: 30px;
            }

            .ecolbox-mobile-content {
              flex: 1;
              padding: 0 20px;
              color: rgba(0, 0, 0, 0.6);
              font-weight: 400;
              font-size: 14px;
              line-height: 1.5;
              user-select: text;
            }
          }

        }

      }
    }

    .feans {
      width: 100%;
      margin-top: 60px;

      .feans-contract-address {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0;
        color: #009E4E;
        font-size: 14px;
        margin: 4px 0 8px;

        .feans-contract-address-copy {
          width: 20px;
          height: 20px;
          margin-left: 8px;
        }
      }

      .feans-group {
        max-width: 100%;
        margin: 0;
        padding: 0 20px;

        .feans-content {
          font-size: 14px;
          color: #000000;
          line-height: 1.3;
        }

        .feans-content-next {
          margin-top: 16px;

          .feans-content-next-link {
            font-size: 16px;
          }
        }
      }

      .feans-asstes-chart-group {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        top: 0;
        left: 0;
        margin: 36px 0;

        .feans-asstes-share-process-base {
          position: absolute;
          text-align: left;
          font-weight: 500;
          font-size: 12px;
          zoom: 0.87;
          cursor: pointer;
          z-index: 20;

          .feans-asstes-share-text {
            font-weight: 700;
            font-size: 12px;
          }

          &:hover {
            font-weight: 700;
            font-size: 14px;

            .feans-asstes-share-text {
              font-weight: 900;
              font-size: 26px;
            }
          }
        }

        .feans-asstes-share-process1 {
          top: 12%;
          left: 74%;
        }

        .feans-asstes-share-process2 {
          bottom: 24%;
          left: 76%;
        }

        .feans-asstes-share-process3 {
          bottom: -20px;
          left: 50%;
          transform: translateX(-50%);
        }

        .feans-asstes-share-process4 {
          top: 70%;
          left: 16%;
          transform: translateX(-50%);
        }

        .feans-asstes-share-process5 {
          top: 40%;
          left: 10%;
          transform: translateX(-50%);
        }

        .feans-asstes-share-process6 {
          top: 12%;
          left: 20%;
          transform: translateX(-50%);
        }

        .feans-asstes-share-process7 {
          top: -10px;
          left: 42%;
          transform: translateX(-50%);
        }
      }

      .feans-asstes-amount-group {
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin-top: 20px;

        .feans-asstes-amount-group-base {
          width: 48%;
          padding: 4.92% 0;
          font-size: 12px;
          white-space: nowrap;

          .feans-asstes-amount-label {
            font-size: 12px;
            zoom: 0.87;
          }
        }
      }
    }

    .habits {
      width: 100%;
      margin-top: 60px;

      .habits-group {
        width: 100%;
        margin: 16px 0 0;
        min-height: 200px;

        .habits-group-chart {
          display: none;
        }

        .habits-mobile {
          width: 100%;
          display: block;

          .habits-mobile-group {
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
          }

          .habits-mobile-content-group {
            width: 80%;
            display: flex;
            justify-content: space-between;
            align-items: center;

            .habits-mobile-content-icon {
              cursor: pointer;
              width: 42px;
              height: 42px;
            }

            .habits-mobile-content {
              width: 90%;
              padding: 31% 0;
              background-size: 100% 100%;
              background-repeat: no-repeat;
              display: flex;
              justify-content: center;
              align-items: center;
              margin: 0 16px;
            }
          }

          .habits-mobile-card-group {
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 24px;

            .habits-mobile-card {
              width: 80%;

              .habits-mobile-card-title-img {
                height: 36px;
              }

              .habits-mobile-card-content {
                background: #62F0A8;
                border-radius: 14px;
                padding: 12px;

                .habits-mobile-card-title-group {
                  width: 100%;
                  display: flex;
                  justify-content: center;
                  align-items: center;

                  .habits-mobile-card-title {
                    font-family: 'Impact';
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-size: 14px;
                    line-height: 1.3;
                    text-align: center;
                    letter-spacing: 0.055em;
                    color: #006B32;
                    white-space: nowrap;
                    font-weight: 700;
                    padding-right: 4px;
                  }

                  .habits-mobile-card-vicetitle {
                    font-family: 'Impact';
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-size: 14px;
                    line-height: 1.3;
                    text-align: center;
                    letter-spacing: 0.055em;
                    color: #006B32;
                  }
                }

                .habits-mobile-card-text {
                  font-family: 'DIN';
                  font-style: normal;
                  font-weight: 500;
                  font-size: 12px;
                  line-height: 1.3;
                  color: #006B32;
                  margin-top: 8px;
                }
              }
            }

          }
        }

      }
    }

    .road-map {
      width: 100%;
      margin-top: 60px;

      .road-map-group {
        display: none;
      }

      .road-map-mobile-group-chart {
        display: flex;
        margin-top: 16px;
        padding: 40% 0;
        justify-content: center;
        align-items: center;
        width: 100%;
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
      }
    }

    .partner {
      width: 100%;
      background-repeat: no-repeat;
      margin-top: 60px;

      .partibox {
        position: relative;
        text-align: center;

      }

      .pabtbox {
        display: flex;
        margin: 24px auto 48px;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-evenly;
        align-items: center;
        min-height: 200px;

        .bt {
          width: 100px;
          margin: 4px;
          height: 54px;
          display: flex;
          justify-content: center;
          align-items: center;

          img {
            max-width: 100px;
            display: block;
            margin: 0;
          }
        }
      }

    }


  }
}