.Land {
    max-width: 1240px;
    margin: auto;
    width: 100%;
    padding: 0 20px;

    .SwapTitle {
        margin-top: 60px;
        font-family: 'Impact';
        font-style: normal;
        font-weight: 400;
        font-size: 60px;
        line-height: 73px;

        color: rgba(0, 0, 0, 0.8);
        text-align: center;
    }

    .processState {
        margin-top: 70px;
        height: 1px;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        background-size: 100% 100%;

        .imgBox1 {
            margin-right: 50px;
        }
    }

    .LandDesc {
        max-width: 1200px;
        margin: auto;
        width: 100%;
        font-family: 'PingFang SC';
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 28px;
        color: rgba(0, 0, 0, 0.8);


        @media (max-width:768px) {
            padding: 20px 16px;
        }
    }

    .Content {
        max-width: 1200px;
        margin: 64px auto 60px;
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;

        //1.土地申领
        .applyBtn {
            position: absolute;
            bottom: -20px;
            width: 132px;
            height: 40px;
            background: linear-gradient(90deg, #4EADF5 0%, #DB2DCF 100%);
            border-radius: 6px;
            font-family: 'PingFang SC';
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 20px;
            /* identical to box height */
            color: #FFFFFF;
            z-index: 9999;

        }

        .toApplyBtn {
            position: absolute;
            bottom: -20px;
            width: 132px;
            height: 40px;
            font-family: 'PingFang SC';
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 20px;
            /* identical to box height */
            color: #FFFFFF;
            background: rgba(255, 255, 255, 0.2);
            border-radius: 6px;
            z-index: 9999;
        }

        // 2.我的领地
        .screen {
            width: 100%;
            justify-content: space-between;
            align-items: center;

            .title {
                margin-top: 0px;
                display: flex;
                align-items: center;
                font-family: 'PingFang SC';
                font-style: normal;
                font-weight: 400;
                font-size: 20px;
                /* identical to box height */
                color: #000;

                .myTitle {
                    width: 68px;
                    height: 32px;
                    background: rgba(20, 253, 135, 0.3);
                    border: 1px solid #14FD87;
                    border-radius: 23px;
                }
            }
        }

        // 3.我的权益
        .myLandRightBox {
            padding: 58px 45px;
            margin-top: 30px;
            width: 100%;
            background: #FFFFFF;
            box-shadow: 25px 25px 0px rgba(116, 153, 138, 0.4);
            border-radius: 16px;

            .myTitle {
                display: flex;
                align-items: center;
                font-family: 'PingFang SC';
                font-style: normal;
                font-weight: 400;
                font-size: 24px;
                line-height: 34px;
                /* identical to box height */
                color: #000000;

                img {
                    margin-left: 15px;
                }
            }

            .RewardBox {
                margin-top: 60px;
                width: 100%;
                display: flex;
                justify-content: space-between;

                >div {
                    padding: 28px 20px;
                    width: 100%;
                    max-width: 525px;
                    background: #EFFFF7;
                    box-shadow: 15px 16px 0px rgba(116, 153, 138, 0.5);
                    border-radius: 19px;

                    &:first-child {
                        margin-right: 20px;
                    }

                    &:last-child {
                        margin-left: 20px;
                    }

                    .title {
                        font-family: 'PingFang SC';
                        font-style: normal;
                        font-weight: 400;
                        font-size: 24px;
                        line-height: 34px;
                        /* identical to box height */
                        color: rgba(0, 0, 0, 0.8);
                        // margin-bottom: 5px;
                    }

                    .allReward,
                    .valueBox {
                        display: flex;
                        font-family: 'PingFang SC';
                        font-style: normal;
                        font-weight: 400;
                        font-size: 18px;
                        line-height: 25px;
                        color: rgba(0, 0, 0, 0.7);

                        .allRewardBox {
                            flex: auto;
                            display: flex;
                            align-items: center;
                            justify-content: space-between;
                            font-family: 'PingFang SC';
                            font-style: normal;
                            font-weight: 400;
                            font-size: 18px;
                            line-height: 25px;
                            color: rgba(0, 0, 0, 0.7);
                            margin: 23px 0 18px;

                            >div {
                                font-family: 'PingFang SC';
                                font-style: normal;
                                font-weight: 400;
                                font-size: 18px;
                                line-height: 25px;
                                color: rgba(0, 0, 0, 0.7);
                            }
                        }

                        .box {
                            display: flex;
                            justify-content: space-between;
                            align-items: center;
                            padding: 16px;
                            flex: auto;
                            background: #014845;
                            border: 1px solid #14FD87;
                            box-shadow: 4px 5px 0px rgba(2, 72, 69, 0.4);
                            border-radius: 10px;

                            .value {
                                font-family: 'PingFang SC';
                                font-style: normal;
                                font-weight: 400;
                                font-size: 24px;
                                line-height: 34px;
                                /* identical to box height */
                                color: #FFFFFF;
                            }

                            .coinName {
                                display: flex;
                                align-items: center;
                                font-family: 'DIN';
                                font-style: normal;
                                font-weight: 700;
                                font-size: 16px;
                                line-height: 20px;
                                /* identical to box height */
                                letter-spacing: 0.08em;
                                color: #FFFFFF;

                                img {
                                    margin-right: 8px;
                                    width: 20px;
                                    height: 20px;
                                }
                            }
                        }

                        .btnBox {
                            width: 106px;
                            display: flex;
                            justify-content: flex-end;
                            align-items: center;

                            .getBtn {
                                height: 36px;
                                width: 76px;
                                background: url(../image/btnBg.png) no-repeat center / 100% 100%;
                                border-radius: 6px;
                                font-family: 'PingFang SC';
                                font-style: normal;
                                font-weight: 700;
                                font-size: 16px;
                                line-height: 22px;
                                color: #FFFFFF;
                            }
                        }
                    }

                    #itemReward {
                        &:last-child {
                            margin-bottom: 10px;
                        }

                        .allRewardBox {
                            margin: 5px 0px;
                        }

                        #allRewardBox {

                            .allRewardValue,
                            .allRewardTitle {
                                color: rgba(0, 200, 99, 0.7);
                            }
                        }
                    }

                    .rewardRecord {
                        display: flex;
                        align-items: center;
                        justify-content: flex-end;
                        margin-top: 10px;
                        text-align: right;
                        font-family: 'PingFang SC';
                        font-style: normal;
                        font-weight: 400;
                        font-size: 12px;
                        line-height: 17px;
                        /* identical to box height */
                        color: rgba(0, 0, 0, 0.6);

                        img {
                            margin-left: 5px;
                        }
                    }

                }

            }
        }
    }
}


#app {
    height: 100%
}

html,
body {
    position: relative;
    height: 100%;
}

body {
    background: #eee;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #000;
    margin: 0;
    padding: 0;
}

.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.mySwiper {
    margin: 50px auto;
}


@media screen and (max-width:768px) {
    .Land {
        padding: 0 18px;

        .processState {
            background-image: none;
            justify-content: start;

            .imgBox {
                margin-right: 12px;

                img {
                    width: 100px;
                }
            }
        }

        .Content .screen {
            margin-top: 0px;
        }
    }
}

@media screen and (max-width:1024px) {
    .Land .Content .myLandRightBox {
        padding: 40px;

        .RewardBox {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-top: 40px;

            >div {
                max-width: 100%;
                margin: 20px 0px !important;
            }
        }
    }
}

@media screen and (max-width:550px) {
    .Land .Content .myLandRightBox {
        padding: 16px 20px;

        .RewardBox {
            margin-top: 0px;
        }

        .myTitle {
            font-size: 18px;
            justify-content: center;

            img {
                width: 18px;
                height: 18px;
            }
        }
    }
}

@media screen and (max-width:425px) {
    .Land .Content .screen .title {
        font-size: 16px;
    }

    .Land .processState {
        margin-top: 20px;
    }

    .Land {
        padding: 0px 12px;

        .LandDesc {
            padding: 0px;
            font-size: 14px;
        }

        .processState {
            // justify-content: space-between

            .imgBox {
                img {
                    width: 80px;
                }
            }
        }
    }

    .Land .Content {
        margin-top: 30px;
    }

    .Land .Content .myLandRightBox .RewardBox>div .allReward,
    .Land .Content .myLandRightBox .RewardBox>div .valueBox {
        display: block;

        .btnBox {
            width: 100%;
            justify-content: center;

            .getBtn {
                width: 50%;
                margin: 20px auto 0px;
            }
        }
    }
}