.ant-layout-header {
  background: linear-gradient(270deg, #5BDFFA 9.37%, #35E1D7 45.72%, #3DDBB2 77.82%, #14FD87 100%) !important;
  backdrop-filter: blur(18px);
  padding: 0 !important;
}

.footer {
  // background: transparent !important;
  background: linear-gradient(270deg, #5BDFFA 9.37%, #35E1D7 45.72%, #3DDBB2 77.82%, #14FD87 100%) !important;

  backdrop-filter: blur(70px);
  /* Note: backdrop-filter has minimal browser support */
  border-radius: 0px;
  z-index: 999;
}

.MainContent {
  position: relative;
  overflow: hidden;

  .bg1 {
    width: 40vw;
    height: 90vh;
    position: absolute;
    top: 0%;
    left: 0%;
    transform: translate(-50%, 0%);
    background: linear-gradient(22.41deg, rgba(80, 227, 233, 0.2) 11.64%, rgba(29, 252, 175, 0.2) 24.61%, rgba(42, 243, 171, 0.2) 35.35%, rgba(22, 252, 139, 0.2) 54.59%);
    filter: blur(143.003px);
    z-index: -1;
  }

  .bg2 {
    width: 40vw;
    height: 90vh;
    position: absolute;
    bottom: 0px;
    right: 0px;
    transform: translate(50%, 50%);
    background: linear-gradient(345.64deg, rgba(77, 228, 229, 0.3) 12.26%, rgba(39, 245, 167, 0.3) 41.28%, rgba(21, 253, 137, 0.3) 84.62%);
    filter: blur(324.18px);
    z-index: -1;
  }
}

.Header-Edition-Center {
  max-width: 1500px;
  padding: 0 40px;
}

@media (max-width: 425px) {
  .Header-Edition-Center {
    padding: 0px 15px;
  }
}

.HeaderNav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  height: 100%;
  //   background: rgba(0, 0, 0, 0.006);
  //   backdrop-filter: blur(50px);
  z-index: 99999;

  .HeadMenu {
    z-index: 99999;
    width: 48px;
    height: 48px;
  }

  .MenuList {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    .MenuItem {
      // color: #ffffff;
      // font-weight: 400;
      // font-size: 16px;
      // margin-left: 50px;
      // line-height: 1.2;
      font-family: 'IMPACT' !important;
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 20px;
      /* identical to box height */
      color: #000000;
    }

    .active {
      color: #fff;
      // font-weight: 700;
    }

    .Lang {
      display: flex;
      align-items: center;
      font-family: 'DIN';
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 19px;
      color: #000000;

      img {
        margin-right: 5px;
      }
    }

    .Connect {
      padding: 8px 16px;
      letter-spacing: 0.08em;
      color: #ffffff;
      border-radius: 6px;
      line-height: 1.2;
      margin-left: 63px;
      background: url(../image/connectBg.png) no-repeat center / 100% 100%;
    }

    .toConnect {
      padding: 12px 33px;
      background: url(../image/connectBg.png) no-repeat 100% 100% / 100% 100%;
      font-family: 'Impact';
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 17px;
      letter-spacing: 0.08em;
      text-transform: uppercase;
      color: #000000;
    }
  }

  .MobileHeadMenu {
    display: none;
  }

  .Mobile {
    display: none;

    .Connect {
      padding: 8px 16px;
      letter-spacing: 0.08em;
      color: #ffffff;
      border-radius: 6px;
      line-height: 1.2;
      margin-left: 10px;
      background: url(../image/connectBg.png) no-repeat center / 100% 100%;

    }

    .toConnect {
      padding: 12px 33px;
      background: url(../image/connectBg.png) no-repeat 100% 100% / 100% 100%;
      font-family: 'Impact';
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 17px;
      letter-spacing: 0.08em;
      text-transform: uppercase;
      color: #000000;
      margin-left: 10px;
    }
  }

  @media (max-width: 1349px) {

    // .MenuList {
    //   display: none;
    // }
    .Mobile {
      display: flex;
      align-items: center;
    }

    .HeadMenu {
      // display: none;
    }

    .MobileHeadMenu {
      display: block;
    }
  }

  .SBLMenu {
    text-align: center;
  }
}

.dropMenuBox {
  width: 100%;
  position: absolute;
  z-index: 9999;
  top: 64px;
  display: flex;
  justify-content: center;
  background: #FFFFFF;
  box-shadow: 0px 23px 80px rgba(192, 219, 208, 0.5);
  border-radius: 0px 0px 30px 30px;

  .menuContent {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    max-width: 1440px;

    .item {
      min-width: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 20px auto;

      .left {
        margin-right: 25px;
      }

      .title {
        font-family: 'PingFang SC';
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 22px;
        color: #333333;
      }

      .subtitle {
        width: 250px;
        margin-top: 10px;
        font-family: 'PingFang SC';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
        /* identical to box height */
        color: rgba(51, 51, 51, 0.7);
      }
    }

    .autoitem {
      min-width: 50%;
    }
  }
}

.footerLink {
  max-width: 1200px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  .SOCIALRow {
    display: flex;
    flex-wrap: wrap;
  }

  .SOCIAL {
    font-family: 'DIN';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    /* identical to box height */
    letter-spacing: 0.08em;
    color: #000000;
    display: flex;
    align-items: center;
  }

  .SOCIALItem {
    margin-left: 25px;
    display: flex;
    align-items: center;
    font-family: 'DIN';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.08em;
    color: #000000;
    letter-spacing: 0.08em;

    a {
      display: flex;
      align-items: center;
    }


    span {
      font-family: 'DIN';
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 19px;
      letter-spacing: 0.08em;
      color: #000000;
      letter-spacing: 0.08em;
    }

    img {
      width: 16px;
      height: 16px;
      margin-right: 8px;
    }
  }

  @media (max-width: 768px) {
    .SOCIALItem {
      min-width: 100px;
    }
  }
}

@media (max-width: 850px) {

  .footerLink {
    align-items: center;
    justify-content: center;
    flex-direction: column;

    .SOCIALRow {
      margin-top: 20px;
      align-items: center;
      justify-content: space-between;

      .SOCIAL {
        width: 100%;
        justify-content: center;
      }

      .SOCIALItem {
        margin: 15px 0 0 25px;
        margin-left: 0;
      }
    }
  }

  .footer {
    background: transparent !important
  }
}

.LangItem,
.DropItem {
  color: #333333 !important;
  font-weight: 400;
  font-size: 16px;
}

.DropItem {
  width: 100px;
}

.ant-dropdown-menu {
  border-radius: 11px !important;
}

.FootMenu {
  position: fixed;
  display: none;
  bottom: 0;
  width: 100%;
  height: 46px;
  background: linear-gradient(90.88deg, #17FC8D 2.75%, #53E2ED 99.51%);
  z-index: 999;
  align-items: center;

  .MenuItem {
    flex: 1;
    color: #fff;
    font-size: 14px;
    font-weight: 700;
    font-family: IMPACT !important;
    display: flex;
    align-items: center;

    .other {
      background: rgba(255, 255, 255, 0.6);
      width: 20px;
      height: 20px;
      border-radius: 50%;
    }
  }

  .activeMenuItem {
    font-family: 'Impact';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 12px;
    color: #003F06;
    // position: relative;

    img {
      position: absolute;
      bottom: 0;
    }
  }

  .division {
    width: 1px;
    height: 28px;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #FFFFFF 48.96%, rgba(255, 255, 255, 0) 100%);
    transform: matrix(-1, 0, 0, 1, 0, 0);
  }
}

.subMenu {
  display: none;
  position: absolute;
  padding: 0 20px;
  bottom: 60px;
  background: #FFFFFF;
  box-shadow: -17px -2px 72px rgba(171, 200, 188, 0.3);
  border-radius: 8px;
  width: 189px;
  max-width: 80%;
  // height: 183px;
  right: 0;
}

.subMenuMold {
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: 99999999;

  .SubMenuItem {
    height: 40px;
    color: #000000;
    font-size: 12px;
    line-height: 40px;
    font-family: IMPACT !important;
    font-family: 'PingFang SC';
    font-style: normal;
    font-weight: 700;
  }
}

@media (max-width:670px) {
  .footer {
    margin-bottom: 46px;
  }

  .HeaderNav .Secondary {
    display: none;
  }

  .FootMenu {
    display: flex;
  }

  .subMenu {
    display: block;
  }
}

.LargeScreen {}

.HeaderNav .Secondary {
  display: none;
  flex: 1;

  .MenuItem {
    margin-left: 25px;
  }
}

@media (max-width:1350px) {
  .HeaderNav {
    .LargeScreen {
      display: none;
    }
  }
}

@media (max-width:1349px) and (min-width:670px) {
  .HeaderNav {
    .Secondary {
      display: flex;
    }
  }
}