.LiquidityBox {
    max-width: 1200px;
    width: 100%;
    margin: 60px auto 60px;
    display: flex;
    flex-direction: column;
    align-items: center;

    .title {
        font-family: 'Impact';
        font-style: normal;
        font-weight: 400;
        font-size: 60px;
        line-height: 73px;

        color: rgba(0, 0, 0, 0.8);
        text-align: center;
    }

    .Desc {
        max-width: 1200px;
        margin: 70px auto;
        border-radius: 19px;
        text-align: left;
        font-family: 'PingFang SC';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 25px;
        color: rgba(0, 0, 0, 0.8);

        span {
            font-family: 'PingFang SC';
            font-style: normal;
            font-weight: 400;
            font-size: 18px;
            line-height: 25px;
            color: #14fd87;
        }
    }

    .content {
        padding: 60px 0;
        margin-top: 100px;
        width: 100%;
        max-width: 413px;
        background: #FFFFFF;
        box-shadow: 14px 15px 0px rgba(116, 153, 138, 0.4);
        border-radius: 19px;
        display: flex;
        flex-direction: column;
        align-items: center;

        .myLiquidity {
            font-family: 'PingFang SC';
            font-style: normal;
            font-weight: 700;
            font-size: 14px;
            line-height: 20px;
            /* identical to box height */
            color: #000000;
            margin-bottom: 30px;

            span {
                color: rgba(0, 0, 0, 0.6);
            }
        }



        .addLiquidity {

            padding: 14px 24px;
            background: url(../image/btnBg.png) no-repeat center / 100% 100%;
            border-radius: 6px;
            font-family: 'PingFang SC';
            font-style: normal;
            font-weight: 700;
            font-size: 16px;
            line-height: 22px;
            color: #FFFFFF;
        }
    }


    //我的流动性
    .myLiquidityContent {
        padding: 20px;
        // margin-top: 112px;
        width: 100%;
        max-width: 413px;
        background: #FFFFFF;
        box-shadow: 14px 15px 0px rgba(116, 153, 138, 0.4), 37px 38px 70px 6px rgba(0, 0, 0, 0.1);
        border-radius: 19px;

        .myLiquidity {
            font-family: 'PingFang SC';
            font-style: normal;
            font-weight: 700;
            font-size: 14px;
            line-height: 20px;
            /* identical to box height */
            color: #000;

        }

        .rmLiquidityBox {
            margin-top: 30px;
            padding: 16px 15px;
            background: #024946;
            border: 1px solid #14FD87;
            box-shadow: 8px 9px 0px rgba(2, 72, 69, 0.4);
            border-radius: 10px;

            .coinsBox {
                display: flex;
                justify-content: space-between;

                .coinsvalue {
                    font-family: 'PingFang SC';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 24px;
                    line-height: 34px;
                    /* identical to box height */
                    color: #FFFFFF;
                }

                .rightBox {
                    width: 60px;
                    display: flex;
                    justify-content: space-between;

                    .coinsIcon {
                        display: flex;
                        align-items: center;
                        width: 21px;
                        position: relative;

                        .img1 {
                            z-index: 2;
                            width: 20px;
                            height: 20px;
                        }

                        .img2 {
                            position: absolute;
                            left: 10px;
                            width: 20px;
                            height: 20px;

                        }

                    }

                }
            }

            .detailBox {
                margin-top: 35px;

                .item {
                    display: flex;
                    margin-top: 20px;
                    justify-content: space-between;
                    font-family: 'PingFang SC';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 20px;
                    /* identical to box height */
                    color: #FFFFFF;

                    .itemValue {
                        font-family: 'DIN';
                        font-style: normal;
                        font-weight: 500;
                        font-size: 14px;
                        line-height: 17px;
                        /* identical to box height */
                        text-align: right;
                        letter-spacing: 0.08em;
                        color: #FFFFFF;
                    }
                }

                .rmBtn {
                    width: 139px;
                    height: 36px;
                    background: url(../image/btnBg.png) no-repeat center / 100% 100%;
                    border-radius: 6px;
                    font-family: 'PingFang SC';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 20px;
                    /* identical to box height */
                    color: #FFFFFF;
                    margin: 20px auto 0px;
                }
            }
        }

    }

    .addLiquidityBtn {
        margin: 40px auto 0px;
        width: 118px;
        height: 36px;
        background: url(../image/btnBg.png) no-repeat center / 100% 100%;
        border-radius: 6px;
        font-family: 'PingFang SC';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
        /* identical to box height */
        color: #FFFFFF;
    }
}

@media screen and (max-width:425px) {
    .LiquidityBox {
        margin-top: 20px;
        padding: 0px 12px;

        .title {
            font-size: 28px;
        }

        .content {
            padding: 40px 0px;
            margin-top: 20px;

            .myLiquidity {
                margin-bottom: 20px;
            }

            .addLiquidity {
                padding: 8px 12px;
            }
        }
    }

    .LiquidityBox .Desc {
        margin: 20px auto;
    }
}