.MBASwapBox {
    max-width: 1200px;
    width: 100%;
    margin: 60px auto;
    display: flex;
    flex-direction: column;
    align-items: center;

    .title {
        font-family: 'DIN';
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 29px;
        color: #FFFFFF;
        text-align: center;
    }

    .content {
        margin-top: 80px;
        width: 100%;
        max-width: 413px;

        .balanceBox {
            display: flex;
            justify-content: space-between;

            &:first-child {
                margin-bottom: 24px;
            }

            >div {
                display: flex;
                align-items: center;
            }

            .leftBox {
                font-family: 'PingFang SC';
                font-style: normal;
                font-weight: 400;
                font-size: 20px;
                line-height: 28px;
                /* identical to box height */
                text-align: center;
                color: #FFFFFF;

                img {
                    width: 40px;
                    height: 40px;
                    margin-right: 20px;
                }
            }

            .rightBox {
                font-family: 'PingFang SC';
                font-style: normal;
                font-weight: 400;
                font-size: 14px;
                line-height: 20px;
                /* identical to box height */
                color: rgba(255, 255, 255, 0.8);

                img {
                    width: 14px;
                    height: 14px;
                    margin-left: 5px;
                }
            }

        }

        .MBAContent {
            margin-top: 35px;
            padding: 20px 35px;
            width: 100%;
            background: #1F2045;
            box-shadow: inset 0px 0px 4px rgba(0, 0, 0, 0.1);
            border-radius: 19px;

            .subMBATitle {
                font-family: 'PingFang SC';
                font-style: normal;
                font-weight: 400;
                font-size: 20px;
                line-height: 28px;
                /* identical to box height */
                color: #DB2DCF;
                text-align: center;
                margin-bottom: 20px;
            }

            .Box {
                border-bottom: 1px solid rgba(255, 255, 255, 0.08);

                .itemTitle {
                    font-family: 'PingFang SC';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 22px;
                    color: #FFFFFF;
                }

                .minBox {
                    display: flex;
                    margin: 30px auto 16px;


                    >div {
                        width: 50px;
                        display: flex;
                        align-items: center;
                        font-family: 'PingFang SC';
                        font-style: normal;
                        font-weight: 400;
                        font-size: 16px;
                        line-height: 22px;
                        color: #FFFFFF;
                    }

                    .coinValue {
                        flex: auto;
                        display: flex;
                        justify-content: center;
                        align-items: center;


                        img {
                            width: 20px;
                            width: 20px;
                            margin-right: 10px;
                        }
                    }

                    .maxBtn {
                        color: #DB2DCF;
                    }
                }

            }

            .topBox {
                margin-bottom: 40px;
            }

            .recentlyRadio {
                margin-top: 20px;
                font-family: 'PingFang SC';
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                line-height: 22px;
                color: #FFFFFF;
            }

            .toMBA {
                margin: 40px auto 0px;
                width: 122px;
                height: 36px;
                background: linear-gradient(90deg, #4EADF5 0%, #DB2DCF 100%);
                border-radius: 6px;
                font-family: 'PingFang SC';
                font-style: normal;
                font-weight: 400;
                font-size: 14px;
                line-height: 20px;
                /* identical to box height */
                color: #FFFFFF;
            }
        }
    }

}