.Node {
    max-width: 1200px;
    margin: auto;
    width: 100%;
    padding: 0px 40px;


    .SwapTitle {
        margin-top: 60px;
        color: #FFFFFF;
        font-weight: 700;
        font-size: 24px;
        text-align: center;
    }

    .NodeDesc {
        max-width: 1200px;
        margin: 70px auto;
        border-radius: 19px;
        box-shadow: inset 0px 0px 4px rgba(0, 0, 0, 0.1);
        text-align: left;
        font-family: 'PingFang SC';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 25px;
        color: #FFFFFF;

        @media (max-width:768px) {
            padding: 20px 16px;
        }
    }

    .Content {
        margin: 70px auto 60px;
        display: flex;
        justify-content: space-between;

        .nodeApplication {
            margin-right: 20px;
        }

        .DestructReward {
            margin-left: 20px;
        }

        >div {
            padding: 30px 55px;
            max-width: 485px;
            width: 100%;
            background: #1F2045;
            box-shadow: inset 0px 0px 4px rgba(0, 0, 0, 0.1);
            border-radius: 19px;

            .title {
                font-family: 'DIN';
                font-style: normal;
                font-weight: 700;
                font-size: 24px;
                line-height: 29px;
                text-align: center;
                color: #DB2DCF;
                margin-bottom: 30px;
            }

            .DestructValue,
            .rewardValue,
            .toFreed {
                font-family: 'PingFang SC';
                font-style: normal;
                font-weight: 400;
                font-size: 18px;
                line-height: 25px;
                color: #FFFFFF;
                margin-bottom: 25px;

                >span {
                    font-family: 'PingFang SC';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 18px;
                    line-height: 25px;
                    color: #DB2DCF;
                }
            }

            .subTitle {
                display: flex;
                align-items: center;
                font-family: 'PingFang SC';
                font-style: normal;
                font-weight: 400;
                font-size: 12px;
                color: rgba(255, 255, 255, 0.9);
                margin-bottom: 20px;

                img {
                    margin-left: 10px;
                }
            }

            .process {
                display: flex;
                align-items: center;
                margin-bottom: 30px;

                .Freed,
                .value {
                    width: 65px;
                    font-family: 'PingFang SC';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 20px;
                    /* identical to box height */
                    color: #FFFFFF;
                }

                .Freed {
                    width: 65px;
                }

                .value {
                    text-align: right;
                }

                .processBox {
                    height: 10px;
                    flex: auto;
                    background: rgba(255, 255, 255, 0.1);
                    border-radius: 8px;

                    .processBar {
                        height: 100%;
                        background: linear-gradient(90deg, #4EADF5 0%, #DB2DCF 100%);
                        border-radius: 8px;
                    }
                }
            }

            .inputBox {
                padding: 16px 30px;
                background: #171833;
                border: 1px solid rgba(255, 255, 255, 0.1);
                border-radius: 10px;
                display: flex;
                justify-content: space-between;
                align-items: center;

                input {
                    width: 70px;
                    background: #171833;
                    color: #FFFFFF;
                    padding: 0;
                    border: 0;
                    font-family: 'PingFang SC';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 24px;
                    line-height: 34px;

                    input[type=number]::-webkit-inner-spin-button,
                    input[type=number]::-webkit-outer-spin-button {
                        -webkit-appearance: none;
                        margin: 0;
                    }

                    input[type=number] {
                        -moz-appearance: textfield;
                    }

                    &::placeholder {
                        font-family: 'PingFang SC';
                        font-style: normal;
                        font-weight: 400;
                        font-size: 14px;
                        line-height: 20px;
                        /* identical to box height */
                        color: rgba(255, 255, 255, 0.5);
                    }
                }

                input::-webkit-outer-spin-button,
                input::-webkit-inner-spin-button {
                    -webkit-appearance: none !important;
                }

                input[type="number"] {
                    -moz-appearance: textfield;
                }

                .maxBtn {
                    font-family: 'PingFang SC';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 22px;
                    color: #DB2DCF;
                }

                .coinBox {
                    display: flex;
                    align-items: center;
                    font-family: 'DIN';
                    font-style: normal;
                    font-weight: 700;
                    font-size: 16px;
                    line-height: 20px;
                    /* identical to box height */
                    letter-spacing: 0.08em;
                    color: #FFFFFF;

                    img {
                        margin-right: 8px;
                        width: 20px;
                        height: 20px;
                    }
                }
            }


            .btnBox {
                display: flex;
                justify-content: space-between;
                align-items: center;

                .Btn {
                    max-width: 150px;
                    margin: 36px 0 15px;
                    padding: 0px 40px;
                    font-family: 'PingFang SC';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 20px;
                    /* identical to box height */
                    color: #FFFFFF;
                    width: 316px;
                    height: 40px;
                    background: linear-gradient(90deg, #4EADF5 0%, #DB2DCF 100%);
                    border-radius: 6px;

                }

                .notBtn {
                    max-width: 150px;
                    margin: 36px 0 15px;
                    padding: 0px 40px;
                    font-family: 'PingFang SC';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 20px;
                    /* identical to box height */
                    color: #FFFFFF;
                    width: 316px;
                    height: 40px;
                    background: rgba(255, 255, 255, 0.2);
                    border-radius: 6px;

                }
            }

            .getRecord {
                display: flex;
                align-items: center;
                justify-content: center;
                font-family: 'PingFang SC';
                font-style: normal;
                font-weight: 400;
                font-size: 12px;
                line-height: 17px;
                /* identical to box height */
                color: #DB2DCF;
                text-align: center;
                display: flex;
                align-items: center;

                img {
                    margin-left: 6px;
                }
            }
        }
    }

}

@media screen and (max-width:1024px) {
    .Node .Content>div {
        padding: 30px 20px;
    }
}

@media screen and (max-width:768px) {
    .Node {
        .NodeDesc {
            margin: 30px auto;
        }

        .Content {
            margin: 30px auto 60px;
            display: flex;
            flex-direction: column;
            align-items: center;

            >div {
                padding: 30px 20px;
                margin: 0px 0px 20px 0px !important;
            }


        }
    }
}

@media screen and (max-width:425px) {
    .Node {
        padding: 0 12px;

        .NodeDesc {
            padding: 20px 0px;
        }
    }
}