.SwapTitle{
    margin-top: 60px;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 24px;
    text-align: center;
}
.NodeDesc{
    max-width:1200px;
    margin: auto;
    width: 95%;
    background: #1F2045;
    border-radius: 19px;
    box-shadow: inset 0px 0px 4px rgba(0, 0, 0, 0.1);
    padding:20px 80px;
    text-align: center;
    font-weight: 400;
    font-size: 14px;
    color: #FFFFFF;
    @media (max-width:768px) {
        padding:20px 16px; 
    }
}
.TabRow{
    margin-top: 55px;
    display: flex;
    .TabItem{
        margin-right: 6px;
        padding: 8px 24px;
        width: max-content;
        color: #FFFFFF;
        font-weight: 700;
        font-size: 14px;
        border-radius: 6px;
    }
    .Inactivation{
        color: rgba(255, 255, 255, 0.6);
        font-weight: 400;
        font-size: 14px;
        border: 1px solid rgba(255, 255, 255, 0.2);
        border-radius: 6px;
    }
}