.Node {
    max-width: 1200px;
    margin: auto;
    width: 100%;
    padding: 0px 40px;


    .SwapTitle {
        margin-top: 60px;
        font-family: 'Impact';
        font-style: normal;
        font-weight: 400;
        font-size: 60px;
        line-height: 73px;

        color: rgba(0, 0, 0, 0.8);
        text-align: center;
    }

    .NodeDesc {
        max-width: 1200px;
        margin: 70px auto;
        border-radius: 19px;
        // box-shadow: inset 0px 0px 4px rgba(0, 0, 0, 0.1);
        text-align: left;
        font-family: 'PingFang SC';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 25px;
        color: rgba(0, 0, 0, 0.8);

        span {
            font-family: 'PingFang SC';
            font-style: normal;
            font-weight: 400;
            font-size: 18px;
            line-height: 25px;
            color: #14fd87;
        }

        @media (max-width:768px) {
            padding: 20px 16px;
        }
    }

    // .NodeDesc {
    //     display: -webkit-box;
    //     /*必须结合的属性,将对象作为弹性伸缩盒子模型显示*/
    //     -webkit-line-clamp: 2;
    //     /*设置多少行*/
    //     -webkit-box-orient: vertical;
    //     /*必须结合的属性,设置或检索伸缩盒对象的子元素的排列方式*/
    //     overflow: hidden;
    //     /*文本会被修剪，并且剩余的部分不可见*/
    //     text-overflow: ellipsis;
    //     /*显示省略号来代表被修剪的文本*/
    // }

    .Content {
        margin: 70px auto 60px;
        display: flex;
        justify-content: space-between;

        .nodeApplication {
            margin-right: 20px;
        }

        .DestructReward {
            margin-left: 20px;
        }

        >div {
            padding: 30px 55px;
            max-width: 485px;
            width: 100%;
            background: #FFFFFF;
            box-shadow: 15px 16px 0px rgba(116, 153, 138, 0.4);
            border-radius: 19px;

            .title {
                font-family: 'DIN';
                font-style: normal;
                font-weight: 700;
                font-size: 24px;
                line-height: 29px;
                text-align: center;
                color: rgba(0, 0, 0, 0.8);
                margin-bottom: 30px;
            }

            .DestructValue,
            .rewardValue,
            .toFreed {
                font-family: 'PingFang SC';
                font-style: normal;
                font-weight: 400;
                font-size: 18px;
                line-height: 25px;
                color: #000;
                margin-bottom: 25px;

                >span {
                    font-family: 'PingFang SC';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 18px;
                    line-height: 25px;
                    color: #DB2DCF;
                }
            }

            // .subTitle {
            //     display: flex;
            //     align-items: center;
            //     font-family: 'PingFang SC';
            //     font-style: normal;
            //     font-weight: 400;
            //     font-size: 12px;
            //     color: rgba(255, 255, 255, 0.9);
            //     margin-bottom: 20px;

            //     img {
            //         margin-left: 10px;
            //     }
            // }

            .process {
                display: flex;
                align-items: center;
                margin-bottom: 30px;

                .Freed,
                .value {
                    width: 65px;
                    font-family: 'PingFang SC';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 20px;
                    /* identical to box height */
                    color: #000;
                }

                .Freed {
                    width: 65px;
                }

                .value {
                    text-align: right;
                }

                .processBox {
                    height: 10px;
                    flex: auto;
                    background: #D6F2E4;
                    border-radius: 8px;

                    .processBar {
                        height: 100%;
                        background: #14FD87;
                        border-radius: 8px;
                    }
                }
            }

            .inputBox {
                background: #024845;
                border: 1px solid #14FD87;
                box-shadow: 4px 5px 0px rgba(2, 72, 69, 0.4);
                border-radius: 10px;
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 16px;

                input {
                    width: 100%;
                    background: transparent;
                    color: #FFFFFF;
                    padding: 0;
                    border: 0;
                    font-family: 'PingFang SC';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 24px;
                    line-height: 34px;

                    input[type=number]::-webkit-inner-spin-button,
                    input[type=number]::-webkit-outer-spin-button {
                        -webkit-appearance: none;
                        margin: 0;
                    }

                    input[type=number] {
                        -moz-appearance: textfield;
                    }

                    &::placeholder {
                        font-family: 'PingFang SC';
                        font-style: normal;
                        font-weight: 400;
                        font-size: 14px;
                        line-height: 20px;
                        /* identical to box height */
                        color: #fff;
                    }
                }

                input::-webkit-outer-spin-button,
                input::-webkit-inner-spin-button {
                    -webkit-appearance: none !important;
                }

                input[type="number"] {
                    -moz-appearance: textfield;
                }


                .coinBox {
                    display: flex;
                    align-items: center;
                    font-family: 'DIN';
                    font-style: normal;
                    font-weight: 700;
                    font-size: 16px;
                    line-height: 20px;
                    /* identical to box height */
                    letter-spacing: 0.08em;
                    color: #FFFFFF;

                    img {
                        margin-right: 8px;
                        width: 20px;
                        height: 20px;
                    }
                }
            }


            .btnBox {
                display: flex;
                justify-content: space-between;
                align-items: center;

                .Btn {
                    max-width: 150px;
                    margin: 36px 0 15px;
                    padding: 0px 40px;
                    font-family: 'PingFang SC';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 20px;
                    /* identical to box height */
                    color: #FFFFFF;
                    width: 316px;
                    height: 40px;
                    background: url(../image/btnBg.png) no-repeat center / 100% 100%;
                    border-radius: 6px;

                }

                .notBtn {
                    max-width: 150px;
                    margin: 36px 0 15px;
                    padding: 0px 40px;
                    font-family: 'PingFang SC';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 20px;
                    /* identical to box height */
                    color: #FFFFFF;
                    width: 316px;
                    height: 40px;
                    background: url(../image/noBtnBg.png) no-repeat center / 100% 100%;
                    border-radius: 6px;
                }
            }

            .getRecord {
                display: flex;
                align-items: center;
                justify-content: center;
                font-family: 'PingFang SC';
                font-style: normal;
                font-weight: 400;
                font-size: 12px;
                line-height: 17px;
                /* identical to box height */
                color: rgba(0, 0, 0, 0.6);
                text-align: center;
                display: flex;
                align-items: center;

                img {
                    margin-left: 6px;
                }
            }
        }
    }

}

@media screen and (max-width:1024px) {
    .Node .Content>div {
        padding: 30px 20px;
    }
}

@media screen and (max-width:768px) {
    .Node {
        .NodeDesc {
            margin: 30px auto;
        }

        .Content {
            margin: 30px auto 60px;
            display: flex;
            flex-direction: column;
            align-items: center;

            >div {
                padding: 30px 20px;
                margin: 0px 0px 20px 0px !important;
            }


        }
    }
}

@media screen and (max-width:425px) {
    .Node .SwapTitle {
        font-size: 28px;
        margin-top: 20px;
    }

    .Node {
        padding: 0 12px;

        .NodeDesc {
            padding: 20px 0px;
            margin: 0px auto;
        }
    }

    .nodeApplication .RewardLabel {
        font-size: 20px;
    }

    .nodeApplication .NodeTips {
        margin-bottom: 15px;
    }

    .nodeApplication .applyBtn {
        margin: 15px 0px;
        width: 100px;
        padding: 0px;
        height: 40px;
    }

    .Node .Content {
        margin-top: 10px;
    }

    .Node .Content>div .title {
        font-size: 20px;
        margin-bottom: 20px;
    }

    .Node .Content>div .btnBox .Btn {
        width: 100px;
        padding: 0px;
    }

    .Node .Content>div .btnBox .notBtn {
        width: 100px;
        padding: 0px;
    }

    .Node .Content>div .btnBox {
        justify-content: space-evenly;
    }
}