.SwapTitle {
    margin-top: 60px;
    font-family: 'Impact';
    font-style: normal;
    font-weight: 400;
    font-size: 60px;
    line-height: 73px;

    color: rgba(0, 0, 0, 0.8);
    text-align: center;
}

.screen {
    display: flex;
    margin-top: 30px;
    justify-content: flex-end;
    flex-wrap: wrap;
    align-items: center;

    // >div {
    //     margin-top: 20px;
    // }

    .Tabs {
        display: flex;

        >div {
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 0px 24px;
            height: 36px;
            border-radius: 6px;
            margin-right: 20px;
            font-family: 'PingFang SC';
            font-style: normal;
            font-weight: 700;
            font-size: 14px;
            line-height: 22px;
            color: rgba(0, 0, 0, 0.6);
        }

        .activeTab {
            font-weight: 700;
            color: #FFFFFF;
            background: url(../image/btnBg.png) no-repeat center / 100% 100%;
        }

        .invalidTab {
            font-weight: 400;
            color: rgba(0, 0, 0, 0.6);
            border: 1px solid rgba(0, 0, 0, 0.2);
            box-sizing: border-box;
        }
    }

    .DropDownGroup {
        display: flex;
        position: relative;
        align-items: center;
        flex-wrap: wrap;

        .dropDown:first-child {
            margin: 0;
        }
    }
}


#Swap {
    .screen {
        justify-content: space-between;

        .DropDownGroup {
            margin-top: 12px;
        }
    }
}

@media (max-width:548px) {
    .screen {
        // flex-direction: column;
        align-items: flex-start;

        .DropDownGroup {
            display: flex;
            position: relative;
            align-items: center;
            flex-wrap: wrap;

            // flex-direction: column;
            .dropDown {
                width: 85px;
                padding: 10px 10px;
            }
        }
    }

}

.CardList {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, 270px);
    grid-row-gap: 40px;
    grid-column-gap: 40px;
    justify-content: space-between;
    margin-top: 20px;
    max-width: 1200px;
}

@media (max-width:1023px) {
    .CardList {
        grid-template-columns: repeat(auto-fill, 180px);
    }
}

@media (max-width:425px) {
    .SwapTitle {
        font-size: 28px !important;
        margin-top: 20px !important;
    }

    .screen {
        margin-top: 0px;
    }

    .CardList {
        grid-template-columns: repeat(auto-fill, 170px);
        grid-row-gap: 20px;
        grid-column-gap: 20px;
    }
}

@media (max-width:374px) {
    .CardList {
        grid-template-columns: repeat(auto-fill, 140px);
        grid-row-gap: 15px;
        grid-column-gap: 15px;
    }
}