.SwapTitle{
    margin-top: 60px;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 24px;
    text-align: center;
}
.screen{
    display: flex;
    margin-top:30px;
    justify-content:space-between;
    flex-wrap: wrap;
    align-items: center;
    >div{
        margin-top: 20px;
    }
    .Tabs{
        display: flex;
        >div{
            padding: 8px 24px;
            border-radius: 6px;
            font-size: 14px;
            margin-right: 20px;
        }
        .activeTab{
            font-weight: 700;
            color: #FFFFFF;
        }
        .invalidTab{
            font-weight: 400;
            color: rgba(255, 255, 255, 0.6);
            border: 1px solid rgba(255, 255, 255, 0.2);
            box-sizing: border-box;
        }
    }
    .DropDownGroup{
        display: flex;
        position: relative;
        align-items: center;
        flex-wrap: wrap;
        .dropDown:first-child{
            margin: 0;
        }
    }
}
@media (max-width:548px) {
    .screen{
        flex-direction: column;
        align-items: flex-start;
        .DropDownGroup{
            display: flex;
            position: relative;
            align-items: center;
            flex-wrap: wrap;
            // flex-direction: column;
            .dropDown{
                width: 85px;
                padding: 10px 10px;
            }
        }
    }
    
}

.CardList{
    display: grid;
    grid-template-columns: repeat(auto-fill, 270px);
    grid-row-gap: 40px;
    grid-column-gap: 40px;
    justify-content: space-between;
    margin-top: 20px;
    max-width:1200px;
}
@media (max-width:1023px) {
    .CardList{
        grid-template-columns: repeat(auto-fill, 180px);
    }
}
@media (max-width:425px) {
    .CardList{
        grid-template-columns: repeat(auto-fill, 158px);
        grid-row-gap: 20px;
        grid-column-gap: 20px;
    }
}
@media (max-width:374px) {
    .CardList{
        grid-template-columns: repeat(auto-fill, 135px);
        grid-row-gap: 15px;
        grid-column-gap: 15px;
    }
}
.Pagination{
    display: flex;
    justify-content: center;
    margin-top: 60px;
}
.ant-pagination-item-link{
    background: rgba(255, 255, 255, 0.04) !important;
    border: 1px solid rgba(255, 255, 255, 0.2) !important;
    border-radius: 3px !important;
    color: rgba(255, 255, 255, 0.6) !important;
}
.ant-pagination-item{
    background: rgba(255, 255, 255, 0.04) !important;
    border: 1px solid rgba(255, 255, 255, 0.2) !important;
    border-radius: 3px !important;
    color: rgba(255, 255, 255, 0.6) !important;
    a{
        color: rgba(255, 255, 255, 0.6) !important;
    }
}
.ant-pagination-item-active{
    background: #D533D1 !important;
    border: 1px solid #D533D1 !important;
}
.ant-select:not(.ant-select-customize-input) .ant-select-selector{
    background: rgba(255, 255, 255, 0.04) !important;
    border: 1px solid rgba(255, 255, 255, 0.2) !important;
    border-radius: 3px !important;
    color: rgba(255, 255, 255, 0.6) !important;
}
.ant-pagination-options-quick-jumper{
    color:rgba(255, 255, 255, 0.6) !important;
    input{
        background: rgba(255, 255, 255, 0.04) !important;
        border: 1px solid rgba(255, 255, 255, 0.2) !important;
        border-radius: 3px !important;
        color: rgba(255, 255, 255, 0.6) !important;
    }
}