.AddLiquidityModal {
    .ant-modal-content {
        padding: 30px 40px;
        background: #EFFFF7;
        box-shadow: 16px 20px 0px #5C5E5D, inset 0px 0px 4px rgba(0, 0, 0, 0.1);
        border-radius: 19px;
        border-radius: 19px;

        .ant-modal-body {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 0px;


            .title {
                font-family: 'PingFang SC';
                font-style: normal;
                font-weight: 700;
                font-size: 24px;
                line-height: 34px;
                /* identical to box height */
                text-align: center;
                color: #000000;
                margin-bottom: 20px;
            }

            .titleTip {
                font-weight: 500;
                font-size: 18px;
                margin-bottom: 30px;
                color: rgba(0, 0, 0, 0.6);
            }

            .Box {
                height: 100px;
                width: 100%;

                // balanceBox/coinBox
                >div {
                    display: flex;


                    .balance,
                    .valueBox {
                        flex: auto;
                    }

                    .balance {
                        font-family: 'PingFang SC';
                        font-style: normal;
                        font-weight: 400;
                        font-size: 14px;
                        line-height: 20px;
                        /* identical to box height */
                        text-align: right;
                        color: rgba(0, 0, 0, 0.6);
                    }

                    .rightBox {
                        width: 130px;
                        display: flex;
                        justify-content: end;
                    }

                    .approveBtn {

                        width: 109px;
                        height: 33px;
                        left: 1075px;
                        top: 389px;
                        border: 1px solid rgba(0, 0, 0, 0.2);
                        border-radius: 6px;
                        font-family: 'DIN';
                        font-style: normal;
                        font-weight: 700;
                        font-size: 14px;
                        line-height: 17px;
                        /* identical to box height */
                        letter-spacing: 0.08em;
                        color: rgba(0, 0, 0, 0.5);

                    }

                    .toApproveBtn {
                        box-sizing: content-box;
                        border: 0;
                        padding: 1px;
                        // background: linear-gradient(90deg, #4EADF5 0%, #DB2DCF 100%);
                        border-radius: 6px;
                        border: 1px solid rgba(20, 253, 135, 0.6);
                        border-radius: 6px;

                        div {
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            width: 100%;
                            height: 100%;
                            font-family: 'PingFang SC';
                            font-style: normal;
                            font-weight: 400;
                            font-size: 14px;
                            /* 紫色 */
                            color: #14FD87;
                            // background: #1d1e44;
                            border-radius: 6px;

                        }
                    }

                    // .toApproveBtn {
                    //     position: relative;
                    //     color: #db2dcf;
                    //     background: linear-gradient(90deg, #4eadf5 0%, #db2dcf 100%);
                    //     box-shadow: inset 0px 0px 4px rgba(0, 0, 0, 0.1);
                    //     border-radius: 6px;
                    //     border: 0;

                    //     div {
                    //         position: absolute;
                    //         // justify-content: center;
                    //         margin: auto;
                    //         border-radius: 6px;
                    //         line-height: 34px;
                    //         left: 0;
                    //         top: 0;
                    //         right: 0;
                    //         bottom: 0;
                    //         width: 74px;
                    //         height: 34px;
                    //         background: #1d1e44;
                    //     }
                    // }


                }

                .coinBox {
                    width: 100%;
                    align-items: center;
                    justify-content: space-between;

                    .valueBox {
                        padding: 16px 15px;
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        background: #014845;
                        border: 1px solid #14FD87;
                        box-shadow: 4px 5px 0px rgba(2, 72, 69, 0.4);
                        border-radius: 10px;
                        border-radius: 10px;

                        .minBox {
                            width: 60px;
                            display: flex;
                            align-items: center;
                            justify-content: space-between;

                            .value {
                                font-family: 'PingFang SC';
                                font-style: normal;
                                font-weight: 700;
                                font-size: 24px;
                                line-height: 34px;
                                /* identical to box height */
                                color: #FFFFFF;
                            }
                        }

                        .value {
                            font-family: 'PingFang SC';
                            font-style: normal;
                            font-weight: 700;
                            font-size: 24px;
                            line-height: 34px;
                            /* identical to box height */
                            color: #FFFFFF;
                        }

                        .coinName {
                            display: flex;
                            align-items: center;
                            font-family: 'DIN';
                            font-style: normal;
                            font-weight: 700;
                            font-size: 16px;
                            /* identical to box height */
                            letter-spacing: 0.08em;
                            color: #FFFFFF;

                            img {
                                margin-right: 4px;
                                width: 20px;
                                height: 20px;
                            }
                        }
                    }
                }

                .balanceBox {
                    margin-top: 15px;
                }

            }

            .midBox {
                margin: 30px auto;
            }

            .supplyBtn {
                padding: 14px 48px;
                background: url(../../image/noBtnBg.png) no-repeat center / 100% 100%;
                border-radius: 6px;
                font-family: 'PingFang SC';
                font-style: normal;
                font-weight: 700;
                font-size: 16px;
                line-height: 22px;
                color: #FFFFFF;
                margin-top: 50px;
            }

            .toSupplyBtn {
                padding: 14px 48px;
                background: url(../../image/btnBg.png) no-repeat center / 100% 100%;
                border-radius: 6px;
                font-family: 'PingFang SC';
                font-style: normal;
                font-weight: 700;
                font-size: 14px;
                line-height: 20px;
                /* identical to box height */
                color: #FFFFFF;
                margin-top: 50px;
            }

            span {
                position: absolute;
                bottom: -60px;
                width: 100%;
                text-align: center;
                font-style: normal;
                font-weight: 400;
                font-size: 12px;
                line-height: 17px;
                color: #DB2DCF;
            }

        }
    }
}

.AddLiquidityDropdown {
    .ant-dropdown-menu {
        background: #FFFFFF;
        border-radius: 5px;

        .dropValue {
            width: 81px;
            text-align: center;
            font-family: 'PingFang SC';
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 20px;
            /* identical to box height */
            color: #000000;
            margin: 6px auto;
        }

        .ant-dropdown-menu-item {
            padding: 0px;
        }

        .ant-dropdown-menu-item-divider,
        .ant-dropdown-menu-submenu-title-divider {
            height: 1px;
            margin: 4px 0;
            overflow: hidden;
            line-height: 0;
            background: rgba(0, 0, 0, 0.08);
        }

        .ant-dropdown-menu-item.ant-dropdown-menu-item-active,
        .ant-dropdown-menu-item.ant-dropdown-menu-submenu-title-active,
        .ant-dropdown-menu-item:hover,
        .ant-dropdown-menu-submenu-title.ant-dropdown-menu-item-active,
        .ant-dropdown-menu-submenu-title.ant-dropdown-menu-submenu-title-active,
        .ant-dropdown-menu-submenu-title:hover {
            background: #434477;
            border-radius: 5px;
        }
    }
}

@media screen and (max-width:470px) {
    .AddLiquidityModal .ant-modal-content {
        padding: 20px 18px;

        .ant-modal-body {
            .title {
                margin-bottom: 40px;
            }

            .Box {
                height: auto;

                >div {
                    display: block;

                    .balance {
                        word-break: break-all;

                    }

                    .rightBox {
                        width: 100%;
                        margin-top: 20px;
                    }

                    .approveBtn {
                        width: 100%;
                    }
                }

                // .coinBox .valueBox {
                //     padding: 16px 12px;
                // }
            }

            .toSupplyBtn {
                margin-top: 40px;
            }
        }

    }
}