.CardItemLinearBorder {
    width: 100%;
    padding: 1px;
    border-radius: 19px;
    box-sizing: border-box;
    // background:linear-gradient(180deg, #4EADF5 0%, #DB2DCF 100%);
    overflow: hidden;
    height: max-content;

    .buyBtn {
        height: 36px;
        width: 76px;
        width: max-content;
        padding: 8px 24px;
        border-radius: 6px;
        color: #FFFFFF;
        font-weight: 400;
        font-size: 14px;
        margin: 32px auto 0;
    }
}

.CardItem {
    background: #1F2045;
    box-shadow: inset 0px 0px 4px rgba(0, 0, 0, 0.1);
    border-radius: 19px;
    padding: 15px;
    box-sizing: border-box;
    margin: 1px;

    .CardImg {
        position: relative;
        background: #171833;
        border: 1px solid rgba(255, 255, 255, 0.1);
        overflow: hidden;
        border-radius: 10px;
        width: 100%;

        .pending {
            position: absolute;
            top: 10px;
            right: 10px;
            font-family: 'PingFang SC';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 22px;
            color: #D533D1;
        }

        img {
            width: 100%;
        }
    }

    .BoxNum {
        color: #FFFFFF;
        font-weight: 400;
        font-size: 14px;
        text-align: center;
    }

    .cardId {
        color: #FFFFFF;
        font-weight: 400;
        font-size: 14px;
        text-align: center;
        margin-top: 10px;
    }

    .openBtn {
        padding: 8px 24px;
        width: max-content;
        border-radius: 6px;
        font-weight: 400;
        font-size: 14px;
        color: #FFFFFF;
        margin: 15px auto 0;
    }

    .price {
        font-weight: 400;
        font-size: 14px;
        color: #FFFFFF;
        margin-top: 10px;

        .decorate {
            flex-shrink: 0;
            width: 14px;
            height: 14px;
            background: linear-gradient(90deg, #4EADF5 0%, #DB2DCF 100%);
            border-radius: 50%;
            margin-left: 6px;
        }

        .computingPower {
            margin: 18px auto 30px;
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;

            .title {
                width: 32px;
                font-family: 'PingFang SC';
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                color: #FFFFFF;
            }

            .value {
                width: 60px;
                font-family: 'PingFang SC';
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                color: #DB2DCF;
                text-align: right;
            }

            .shareBox {
                display: flex;
                align-items: center;
                margin: 0px 10px;
                height: 12px;
                flex: auto;
                background: rgba(255, 255, 255, 0.1);
                border-radius: 8px;


                .shareValue {
                    height: 12px;
                    background: linear-gradient(90deg, #4EADF5 0%, #DB2DCF 100%);
                    border-radius: 8px;
                    font-family: 'DIN';
                    font-style: normal;
                    font-weight: 500;
                    font-size: 12px;
                    letter-spacing: 0.08em;
                    color: #FFFFFF;
                    text-align: right;
                    display: flex;
                    align-items: center;
                    justify-content: flex-end;
                }
            }
        }

        .box {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
        }

    }

    @media (max-width:768px) {
        .price {
            font-size: 12px;
        }
    }

    @media (max-width:425px) {
        .price {
            // justify-content: space-between;
        }

        // .priceFlex{
        //     display: flex;
        //     flex-direction: column;
        // }
    }

    .coinName {
        margin-left: 10px;
    }


}