.landCard {
  position: relative;

  .ant-modal-content {
    box-shadow: none;
  }

  .ant-modal-header {
    display: none;
  }

  .ant-modal-body {

    .title {
      font-size: 24px;
      margin: 0px auto 15px;
      text-align: center;
      color: #000;
      box-shadow: 0;
    }

    .hzimg {
      position: relative;
      max-width: 337px;
      max-height: 337px;
      width: 100%;
      border-radius: 10px;
      margin: 0 auto;
      overflow: hidden;


      .pending {
        position: absolute;
        top: 15px;
        right: 15px;
        font-family: 'PingFang SC';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 22px;
        color: #D533D1;
      }

      img {
        max-width: 337px;
        max-height: 337px;
      }
    }

    .p1,
    .p2 {
      margin-top: 5px;
      display: flex;
      align-items: center;
      justify-content: space-between;

      .kpdetails {
        margin: 0;
      }
    }

    .kpdetails {
      min-height: 15px;
      margin-top: 5px;
      padding: 0 20px;
      color: #000;
      font-size: 14px;

      input {
        margin-left: 20px;
        margin-right: 10px;
        width: 140px;
        background: #014845;
        border: 1px solid #14FD87;
        box-shadow: 4px 5px 0px rgba(2, 72, 69, 0.4);
        border-radius: 6px;
        padding: 8px;
        font-family: 'DIN';
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height: 17px;
        /* identical to box height */
        letter-spacing: 0.08em;
        color: #FFFFFF;
      }

      input::-webkit-outer-spin-button,
      input::-webkit-inner-spin-button {
        -webkit-appearance: none;
      }
    }

    .butm {
      width: 80%;
      display: flex;
      justify-content: space-around;
      margin: 0 auto;
      color: #fff;
      margin-top: 12px;

      .gm {
        position: relative;
        width: 76px;
        height: 36px;
        background: transparent;
        border-radius: 6px;
        font-family: 'PingFang SC';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
        /* identical to box height */
        color: #14FD87;
        border: 1px solid rgba(32, 255, 231, 1);

        div {
          position: absolute;
          // justify-content: center;
          margin: auto;
          border-radius: 6px;
          line-height: 34px;
          left: 0;
          top: 0;
          right: 0;
          bottom: 0;
          width: 74px;
          height: 34px;
        }
      }

      .invalid {
        background: rgba(255, 255, 255, 0.2);
      }

      .hc {
        border: 0;
        width: 76px;
        height: 36px;
        background: url(../../image/btnBg.png) no-repeat center / 100% 100%;
        border-radius: 6px;
      }

      .zy {
        width: 76px;
        height: 36px;
        border: 0;
        background: rgba(255, 255, 255, 0.2);
        border-radius: 6px;
      }
    }

    span {
      width: 100%;
      text-align: center;
      position: absolute;
      bottom: -60px;
      font-style: normal;
      font-weight: 400;
      font-size: 12px;
      line-height: 17px;
      color: #DB2DCF;
    }
  }
}

@media screen and (max-width:425px) {
  .landCard {
    .ant-modal-body {
      padding: 0px 12px;

      .kpdetails {
        padding: 0px;
      }

      .butm {
        width: 100%;
        margin-bottom: 20px;
      }

      .title {
        margin-top: 20px;
      }
    }
  }
}