.CardComRule {
  .ant-modal-content {
    box-shadow: none;
  }

  .ant-modal-header {
    display: none;
  }

  .ant-modal-body {
    position: relative;
    // background: #1d1e44;
    // box-shadow: inset 0px 0px 4px rgba(0, 0, 0, 0.1);

    .title {
      font-size: 24px;
      margin: auto;
      margin-bottom: 12px;
      text-align: center;
      color: #fff;
      box-shadow: 0;
    }

    .box {
      margin: 0 auto;

      .zifujg {
        margin-bottom: 0;
        font-size: 16px;
        color: #fff;
      }

      .ImgBox {
        display: flex;
        justify-content: space-evenly;

        >div {
          .subTitle {
            font-family: 'PingFang SC';
            font-style: normal;
            font-weight: 700;
            font-size: 16px;
            line-height: 22px;
            color: #000000;
            text-align: center;
          }

          img {
            max-width: 186px;
            max-height: 186px;
            border-radius: 10px;
            margin: 10px 0px 16px;
          }

          .valueBox {
            text-align: center;
            font-family: 'PingFang SC';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 22px;
            color: #000000;
          }
        }
      }
    }

    span {
      position: absolute;
      bottom: -55px;
      width: 100%;
      text-align: center;
      font-style: normal;
      font-weight: 400;
      font-size: 12px;
      line-height: 17px;
      color: #DB2DCF;
    }
  }
}