.Card {
    width: 100%;
    padding: 1px;
    border-radius: 19px;
    box-sizing: border-box;
    height: max-content;

    @media (max-width:768px) {
        .price {
            font-size: 12px;
        }
    }

    .coinName {
        margin-left: 10px;
    }

    .buyBtn {
        width: max-content;
        padding: 8px 24px;
        border-radius: 6px;
        color: #FFFFFF;
        font-weight: 400;
        font-size: 14px;
        margin: 22px auto 0;
    }

}

.CardItem {
    background: #FFFFFF;
    box-shadow: 15px 15px 0px rgba(116, 153, 138, 0.4);
    border-radius: 10px;
    padding: 10px 15px;
    box-sizing: border-box;
    margin: 1px;

    .valueBox {
        .title {
            display: flex;
            justify-content: space-between;
            align-items: center;
            font-family: 'PingFang SC';
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 20px;
            /* identical to box height */
            color: #000000;
        }

        .valuePrice {
            margin: 5px 0px;
            font-family: 'PingFang SC';
            font-style: normal;
            font-weight: 700;
            font-size: 16px;
            line-height: 22px;
            color: #14FD87;
        }
    }

    .CardImg {
        background: #171833;
        border: 1px solid rgba(255, 255, 255, 0.1);
        overflow: hidden;
        border-radius: 10px;
        width: 100%;
        background: url(../../image/NFTBgImg.jpg) no-repeat center center/100% 100%;

        img {
            width: 100%;
        }
    }

    .ID {
        margin-top: 12px;
        display: flex;
        justify-content: center;
        font-family: 'PingFang SC';
        font-style: normal;
        font-weight: 700;
        font-size: 18px;
        line-height: 25px;
        text-align: center;
        color: rgba(0, 0, 0, 0.6);
    }
}


@media screen and (max-width:1024px) {
    .Card .CardItem {
        padding: 12px;

        .cardId {
            margin-bottom: 12px;
        }

        .share {
            margin-top: 12px;

            .addBtn {
                width: 30px;

                img {
                    width: 20px;
                }
            }
        }
    }
}