.CardItemLinearBorder {
    width: 100%;
    padding: 1px;
    border-radius: 10px;
    box-sizing: border-box;
    height: max-content;
    background: #FFFFFF;
    box-shadow: 15px 15px 0px rgba(116, 153, 138, 0.4);


    .buyBtn {
        width: max-content;
        padding: 8px 24px;
        border-radius: 6px;
        color: #FFFFFF;
        font-weight: 400;
        font-size: 14px;
        margin: 10px auto 0px;
        background: url(../../image/btnBg.png) no-repeat center / 100% 100%;
    }
}

.CardItem {
    border-radius: 10px;
    padding: 10px 15px;
    box-sizing: border-box;
    margin: 1px;

    .valueBox {
        .title {
            display: flex;
            justify-content: space-between;
            align-items: center;
            font-family: 'PingFang SC';
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 20px;
            /* identical to box height */
            color: #000000;
        }

        .valuePrice {
            margin: 5px 0px;
            font-family: 'PingFang SC';
            font-style: normal;
            font-weight: 700;
            font-size: 16px;
            line-height: 22px;
            color: #14FD87;
        }
    }

    .ID {
        font-family: 'PingFang SC';
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 56px;
        text-align: center;
        color: rgba(0, 0, 0, 0.6);

    }

    .CardImg {
        position: relative;
        // background: #171833;
        // border: 1px solid rgba(255, 255, 255, 0.1);
        overflow: hidden;
        border-radius: 10px;
        width: 100%;
        background: url(../../image/NFTBgImg.jpg) no-repeat center center / 100% 100%;


        .pending {
            position: absolute;
            top: 10px;
            right: 10px;
            font-family: 'PingFang SC';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 22px;
            color: #14FD87;
        }

        img {
            width: 100%;
        }
    }

    .price {
        font-weight: 400;
        font-size: 14px;
        color: #000;
        margin-top: 10px;
        font-family: 'PingFang SC';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 22px;
        display: flex;
        flex-direction: column;
        justify-content: center;


        .decorate {
            flex-shrink: 0;
            width: 14px;
            height: 14px;
            background: linear-gradient(90deg, #4EADF5 0%, #DB2DCF 100%);
            border-radius: 50%;
            margin-left: 6px;
        }

        .computingPower {
            // margin: 18px auto 30px;
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 20px;

            .value {
                width: 46px;
                font-family: 'PingFang SC';
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                color: #DB2DCF;
                text-align: right;
            }

            .shareBox {
                display: flex;
                align-items: center;
                margin: 0px 5px;
                height: 12px;
                flex: auto;
                background: rgba(255, 255, 255, 0.1);
                border-radius: 8px;


                .shareValue {
                    height: 12px;
                    background: linear-gradient(90deg, #4EADF5 0%, #DB2DCF 100%);
                    border-radius: 8px;
                    font-family: 'DIN';
                    font-style: normal;
                    font-weight: 500;
                    font-size: 12px;
                    letter-spacing: 0.08em;
                    color: #000;
                    text-align: right;
                    display: flex;
                    align-items: center;
                    justify-content: flex-end;
                }
            }
        }

        // 小屏
        .shareBox1 {
            display: flex;
            align-items: center;
            margin: 0px 5px;
            height: 12px;
            flex: auto;
            background: rgba(255, 255, 255, 0.1);
            border-radius: 8px;
        }

        .box {
            width: 100%;
            display: flex;
            align-items: center;
            // justify-content: center;
            font-family: 'PingFang SC';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 22px;
            color: #000;

            .priceFlex {
                width: 100%;

                >div {
                    width: 100%;
                    font-family: 'PingFang SC';
                    font-style: normal;
                    font-weight: 700;
                    font-size: 16px;
                    line-height: 22px;
                    color: #000;
                    white-space: nowrap;
                    overflow: hidden;
                    /*内容会被修剪，并且其余内容是不可见的*/
                    text-overflow: ellipsis;
                    /*显示省略符号来代表被修剪的文本。*/
                }
            }
        }

    }

    @media (max-width:768px) {
        .price {
            font-size: 12px;
        }
    }

    @media (max-width:425px) {
        .price {
            // justify-content: space-between;
        }

        // .priceFlex{
        //     display: flex;
        //     flex-direction: column;
        // }
    }

    .coinName {
        width: 20px;
        height: 20px;
        margin-right: 10px;
    }


}

@media screen and (max-width:1024px) {
    .CardItem .price {
        .computingPower {
            margin-bottom: 0px !important;

        }

        .shareBox1 {
            margin: 12px 0px;
        }
    }
}

@media screen and (max-width:425px) {
    .CardItemLinearBorder .buyBtn {
        margin: 8px auto 0;
    }

    .CardItemLinearBorder .buyBtn {
        padding: 5px 24px;
    }

    .CardItem .price {
        margin-top: auto;
    }
}

@media screen and (max-width:375px) {
    .CardItem {
        padding: 12px;

        .price .computingPower .title {
            font-size: 14px;
        }
    }

    .CardItem .valueBox .valuePrice {
        font-size: 12px;
        margin: 0px;
    }

    .CardItem .price .computingPower .value {
        font-size: 14px;
    }

    .CardItem .price .box .priceFlex>span {
        font-size: 14px;
    }
}