.CardSynthesis {
    .ant-modal-content {
        // height: 666px;
        box-shadow: none;
        background: #1d1e44;
        padding: 0;
        border: 0;
        border-radius: 19px;

        .ant-modal-body {
            display: flex;
            flex-direction: column;
            // height: 666px;
            padding: 0;
            align-items: center;
            color: #fff;

            .Title {
                height: 34px;
                margin-top: 30px;
                font-size: 24px;
                font-weight: 700;
            }

            .Handle {
                display: flex;
                justify-content: space-evenly;
                align-items: center;
                width: 100%;
                padding-top: 35px;

                .SynthesisHandle {
                    flex: 1;
                    // width: 550px;
                    // height: calc(100%-35px);

                    .SynthesisItems {

                        .CardItems {
                            display: flex;
                            justify-content: space-evenly;

                            >div {
                                width: 150px;
                                height: 150px;
                            }

                            .CardItemsLeft {
                                background: #171833;
                                border: 1px solid rgba(255, 255, 255, 0.1);
                                border-radius: 10px;
                                overflow: hidden;

                                img {
                                    width: 100%;
                                }
                            }

                            .Add {
                                display: flex;
                                justify-content: center;
                                align-items: center;
                            }

                            .CardImg {
                                width: 100%;
                                height: 100%;
                                background: #171833;
                                border: 1px solid rgba(255, 255, 255, 0.1);
                                border-radius: 10px;
                                overflow: hidden;

                                img {
                                    width: 100%;
                                }
                            }
                        }

                        @media (max-width:1024px) {
                            .CardItems {
                                >div {
                                    width: 120px;
                                    height: 120px;
                                }
                            }
                        }

                        .CardItem {
                            display: flex;
                            flex-direction: column;
                            align-items: center;
                            margin: 0 auto;
                            padding-top: 56px;

                            .CardImg {
                                width: 190px;
                                height: 190px;
                            }

                            .Decorate {
                                display: flex;
                                justify-content: space-around;
                                font-size: 16px;
                                font-weight: 400;
                                padding-top: 30px;

                                .Number {
                                    color: #DB2DCF;
                                }
                            }

                            button {
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                width: 104px;
                                height: 36px;
                                margin-top: 25px;
                                font-size: 14px;
                                font-weight: 700;
                                border-radius: 6px;
                                background: linear-gradient(90deg, #4EADF5 0%, #DB2DCF 100%);
                            }

                            .Tip {
                                display: flex;
                                align-items: center;
                                margin-top: 18px;
                                font-style: 12px;
                                font-weight: 400;
                                color: rgb(255, 255, 255);

                                .TipContent {
                                    line-height: 18.84px;
                                }
                            }
                        }

                        @media (max-width:1024px) {
                            .CardItem {
                                .CardImg {
                                    width: 120px;
                                    height: 120px;
                                }
                            }
                        }
                    }
                }

                .SynthesisList {
                    flex: 1;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    padding: 0 27px;
                    // width: 550px;
                    height: 550px;
                    border-left: 1px solid rgba(255, 255, 255, 0.2);

                    .Category {
                        width: 100%;
                        display: flex;
                        justify-content: space-between;
                        flex-wrap: wrap;

                        >div {
                            height: 36px;
                        }

                        .Page {
                            // 分页样式
                            display: flex;
                            align-items: center;
                            justify-content: end;

                            ul {
                                display: flex;
                                align-items: center;
                                justify-content: space-around;
                            }

                            button {
                                width: 24px;
                                height: 24px;

                            }

                            .ant-pagination {


                                .ant-pagination-prev {
                                    margin-right: 0;
                                    min-width: 34px;

                                    button {
                                        border: 1px solid rgba(255, 255, 255, 0.2);
                                        border-radius: 6px;
                                        color: rgba(255, 255, 255, 0.2);

                                    }
                                }

                                .ant-pagination-simple-pager {
                                    width: 50px;
                                    line-height: 24px;
                                    margin-right: 0;
                                    color: rgba(255, 255, 255, 0.8);

                                    span {
                                        margin: 0 auto;
                                    }

                                    input {
                                        width: 22px;
                                        background: #1d1e44;
                                        border: 0;
                                        margin-right: 0;
                                    }
                                }

                                .ant-pagination-next {
                                    display: flex;
                                    justify-content: end;

                                    button {
                                        font-size: 14px;
                                        font-weight: 700;
                                        border-radius: 6px;
                                        background: linear-gradient(90deg, #4EADF5 0%, #DB2DCF 100%);
                                        color: #fff;
                                        font-weight: 400;
                                    }
                                }
                            }
                        }

                        .dropDown {
                            display: flex;
                            align-items: center;
                            border: 1px solid rgba(255, 255, 255, 0.2);
                            color: rgba(255, 255, 255, 0.6);
                            border-radius: 6px;
                            margin-left: 0;
                            padding: 10px 15px;
                            justify-content: space-between;
                        }
                    }

                    .CardListBox {
                        width: 100%;
                        max-height: 495px;
                        overflow-y: auto;
                        display: grid;
                        margin-top: 12px;
                        grid-template-columns: repeat(2, 216px);
                        grid-row-gap: 20px;
                        grid-column-gap: 20px;
                        justify-content: center;

                        .SynthesisCardList {
                            display: flex;
                            flex-direction: column;
                            align-items: center;
                            width: 216px;
                            border-radius: 19px;
                            padding-top: 15PX;
                            padding: 15px 15px;
                            border: 1px solid rgba(255, 255, 255, 0.2);

                            .Img {
                                background: #171833;
                                border: 1px solid rgba(255, 255, 255, 0.1);
                                border-radius: 10px;
                                width: 100%;
                                // height: 186px;
                                overflow: hidden;

                                // margin-top: 15px;
                                img {
                                    width: 100%;
                                }

                            }

                            .Id {
                                font-style: 14px;
                                font-weight: 400;
                                margin-bottom: 20px;
                            }

                            .computingPower {
                                width: 100%;
                                margin-top: 18px;
                                display: flex;
                                justify-content: space-between;
                                font-family: 'PingFang SC';
                                font-style: normal;
                                font-weight: 400;
                                font-size: 16px;
                                line-height: 22px;
                                color: #FFFFFF;

                                .value {
                                    color: #DB2DCF;
                                }
                            }

                            .share {
                                width: 100%;
                                margin-top: 20px;
                                display: flex;
                                align-items: center;

                                .shareBox {
                                    height: 12px;
                                    flex: auto;
                                    background: rgba(255, 255, 255, 0.1);
                                    border-radius: 8px;

                                    .shareValue {
                                        height: 100%;
                                        background: linear-gradient(90deg, #4EADF5 0%, #DB2DCF 100%);
                                        border-radius: 8px;
                                        font-family: 'DIN';
                                        font-style: normal;
                                        font-weight: 500;
                                        font-size: 12px;
                                        line-height: 15px;
                                        letter-spacing: 0.08em;
                                        color: #FFFFFF;
                                        text-align: right;
                                    }
                                }

                                .addBtn {
                                    width: 70px;
                                    display: flex;
                                    justify-content: end;
                                }
                            }

                        }

                        @media (max-width:1024px) {
                            .SynthesisCardList {
                                width: 151px;
                                height: 168px;
                            }
                        }
                    }
                }
            }
        }

    }
}

@media (max-width:1023px) {
    .Handle {
        flex-direction: column;
    }
}