.CardComRecord {
  .ant-modal-content {
    box-shadow: none;
  }

  .ant-modal-header {
    display: none;
  }

  .ant-modal-body {

    .title {
      font-family: 'PingFang SC';
      font-style: normal;
      font-weight: 700;
      font-size: 24px;
      line-height: 34px;
      /* identical to box height */
      text-align: center;
      color: #000000;
      overflow-x: auto;

    }

    .content {
      overflow-x: auto;


      .items {
        display: flex;
        justify-content: space-between;
        min-width: 800px;

        .item {
          width: 90px;
          text-align: center;
        }
      }

      .titleItems {
        margin: 20px auto;

        .item {
          font-family: 'PingFang SC';
          font-style: normal;
          font-weight: 400;
          font-size: 14px;
          line-height: 20px;
          /* identical to box height */
          color: rgba(0, 0, 0, 0.8);
        }
      }

      .Box {
        max-height: 400px;
        overflow-y: auto;

        .contentItems {
          font-family: 'DIN';
          font-style: normal;
          font-weight: 500;
          font-size: 14px;
          line-height: 17px;
          /* identical to box height */
          text-align: center;
          letter-spacing: 0.08em;
          color: #000000;
          padding: 10px 0px;
          border-bottom: 1px solid rgba(0, 0, 0, 0.1);
        }
      }

    }
  }
}