.ComSucceed {
  background: #1d1e44;
  box-shadow: inset 0px 0px 4px rgba(0, 0, 0, 0.1);
  border-radius: 19px;
  // height: 300px;
  .ant-modal-content {
    box-shadow: none;
  }
  .ant-modal-header {
    display: none;
  }
  .ant-modal-body {
    position: relative;
    background: #1d1e44;
    // box-shadow: inset 0px 0px 4px rgba(0, 0, 0, 0.1);
    padding: 0;
    .title {
      font-size: 24px;
      margin: auto;
      margin-bottom: 30px;
      text-align: center;
      color: #fff;
      box-shadow: 0;
    }

    .box {
      width: 186px;
      margin: 0 auto;
      background: #171833;
      border: 1px solid rgba(255, 255, 255, 0.1);
      border-radius: 10px;
      overflow: hidden;
      margin-top: 20px;
      margin-bottom: 45px;
      img{
        width: 100%;
      }
    }
    @media (max-width:768px) {
      .title {
        font-size: 18px;
      }
      .box{
        width: 170px;
      }
    }
    span {
      position: absolute;
      bottom: -80px;
      width: 100%;
      text-align: center;
      font-style: normal;
      font-weight: 400;
      font-size: 12px;
      line-height: 17px;
      color: #DB2DCF;
    }
  }
}
.ant-modal-content{
      background-color: transparent;
}