.ConfirmRmLiquidity {
    .ant-modal-content {
        padding: 30px 40px;
        background: #EFFFF7;
        box-shadow: 15px 16px 0px #5C5E5D, inset 0px 0px 4px rgba(0, 0, 0, 0.1);
        border-radius: 19px;

        .ant-modal-body {
            position: relative;
            padding: 0px;


            .title {
                font-family: 'PingFang SC';
                font-style: normal;
                font-weight: 700;
                font-size: 24px;
                // line-height: 34px;
                /* identical to box height */
                text-align: center;
                color: #000000;
                // margin-bottom: 50px;
            }

            .coinBox {
                display: flex;
                align-items: center;

                .coinsValue {
                    font-family: 'DIN';
                    font-style: normal;
                    font-weight: 700;
                    // line-height: 49px;
                    /* identical to box height */
                    text-align: left;
                    color: #000000;
                    font-size: 20px;
                    margin-right: 12px;
                }

                .coinsIcon {
                    display: flex;
                    align-items: center;
                    width: 43px;
                    position: relative;

                    .img1 {
                        z-index: 2;
                        width: 20px;
                        height: 20px;
                    }

                    .img2 {
                        position: absolute;
                        left: 10px;
                        width: 20px;
                        height: 20px;
                    }
                }
            }

            .tip {
                margin-top: 20px;
                font-family: 'PingFang SC';
                font-style: normal;
                font-weight: 400;
                font-size: 14px;
                line-height: 20px;
                /* identical to box height */
                color: rgba(0, 0, 0, 0.8);
            }

            .subTitle {
                margin-top: 20px;
                font-family: 'PingFang SC';
                font-style: normal;
                font-weight: 400;
                font-size: 14px;
                line-height: 20px;
                /* identical to box height */
                color: rgba(0, 0, 0, 0.6);
            }

            .box {
                margin-top: 20px;
                width: 100%;
                display: flex;
                justify-content: space-between;
                font-family: 'PingFang SC';
                font-style: normal;
                font-weight: 400;
                font-size: 14px;
                line-height: 20px;

                .itemTitle {
                    color: rgba(0, 0, 0, 0.8);

                }

                .value {
                    display: flex;
                    align-items: center;
                    color: #000000;

                    img {
                        margin-right: 5px;
                        width: 14px;
                        height: 14px;
                    }
                }

                .radioValue {
                    font-family: 'DIN';
                    font-style: normal;
                    font-weight: 500;
                    font-size: 14px;
                    line-height: 17px;
                    /* identical to box height */
                    text-align: right;
                    letter-spacing: 0.08em;
                    color: #FFFFFF;

                    .radio {
                        margin-bottom: 10px;
                    }
                }

            }

            .subtip {
                margin-top: 15px;
                font-family: 'PingFang SC';
                font-style: normal;
                font-weight: 700;
                font-size: 13px;
                line-height: 18px;
                color: #FC3838;
            }





            .toRemoveBtn {
                width: 100%;
                max-width: 188px;
                padding: 14px 0px;
                background: url(../../image/btnBg.png) no-repeat center / 100% 100%;
                border-radius: 6px;
                font-family: 'PingFang SC';
                font-style: normal;
                font-weight: 700;
                font-size: 14px;
                line-height: 20px;
                /* identical to box height */
                color: #FFFFFF;
                margin: 21px auto 0px;

            }

            span {
                position: absolute;
                bottom: -60px;
                width: 100%;
                text-align: center;
                font-style: normal;
                font-weight: 400;
                font-size: 12px;
                line-height: 17px;
                color: #DB2DCF;
            }

        }
    }
}

@media screen and (max-width:425px) {
    .ConfirmRmLiquidity .ant-modal-content {
        padding: 18px 12px;
    }
}