.ConfirmAddLiquidity {
    .ant-modal-content {
        padding: 30px 40px;
        background: #EFFFF7;
        box-shadow: 15px 16px 0px #5C5E5D, inset 0px 0px 4px rgba(0, 0, 0, 0.1);
        border-radius: 19px;

        .ant-modal-body {
            position: relative;
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 0px;


            .title {
                font-family: 'PingFang SC';
                font-style: normal;
                font-weight: 700;
                font-size: 24px;
                line-height: 34px;
                /* identical to box height */
                text-align: center;
                color: rgba(0, 0, 0, 0.8);
                margin-bottom: 50px;
            }

            .box {
                margin-top: 20px;
                width: 100%;
                display: flex;
                justify-content: space-between;
                font-family: 'PingFang SC';
                font-style: normal;
                font-weight: 400;
                font-size: 14px;
                line-height: 20px;
                color: rgba(0, 0, 0, 0.8);

                .value {
                    display: flex;
                    align-items: center;

                    img {
                        margin-right: 5px;
                        width: 14px;
                        height: 14px;
                    }
                }

                .radioValue {
                    font-family: 'DIN';
                    font-style: normal;
                    font-weight: 500;
                    font-size: 14px;
                    line-height: 17px;
                    /* identical to box height */
                    text-align: right;
                    letter-spacing: 0.08em;
                    color: rgba(0, 0, 0, 0.8);

                    .radio {
                        margin-bottom: 10px;
                    }
                }

            }

            .tip {
                font-family: 'DIN';
                font-style: normal;
                font-weight: 500;
                font-size: 14px;
                line-height: 17px;
                /* identical to box height */
                letter-spacing: 0.08em;
                color: rgba(0, 0, 0, 0.8);

                img {
                    width: 20px;
                    height: 20px;
                    margin-right: 5px;
                }
            }


            .supplyBtn {
                width: 270px;
                height: 36px;
                background: rgba(255, 255, 255, 0.2);
                border-radius: 6px;
                font-family: 'PingFang SC';
                font-style: normal;
                font-weight: 700;
                font-size: 14px;
                line-height: 20px;
                /* identical to box height */
                color: rgba(0, 0, 0, 0.8);
                margin-top: 21px;
            }

            .toSupplyBtn {
                padding: 14px 30px;
                background: url(../../image/btnBg.png) no-repeat center / 100% 100%;
                border-radius: 6px;
                font-family: 'PingFang SC';
                font-style: normal;
                font-weight: 700;
                font-size: 14px;
                line-height: 20px;
                /* identical to box height */
                color: #FFFFFF;
                margin-top: 21px;
            }

            span {
                position: absolute;
                bottom: -60px;
                width: 100%;
                text-align: center;
                font-style: normal;
                font-weight: 400;
                font-size: 12px;
                line-height: 17px;
                color: #DB2DCF;
            }

        }
    }
}

@media screen and (max-width:425px) {
    .ConfirmAddLiquidity .ant-modal-content {
        padding: 20px 18px;
    }
}