.ConfirmExchange {
    .ant-modal-content {
        padding: 30px 40px;
        background: #1D1E44;
        box-shadow: inset 0px 0px 4px rgba(0, 0, 0, 0.1);
        border-radius: 19px;

        .ant-modal-body {
            position: relative;
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 0px;


            .title {
                font-family: 'PingFang SC';
                font-style: normal;
                font-weight: 700;
                font-size: 24px;
                line-height: 34px;
                /* identical to box height */
                text-align: center;
                color: #FFFFFF;
            }

            .tip {
                font-family: 'DIN';
                font-style: normal;
                font-weight: 500;
                font-size: 16px;
                line-height: 19px;
                text-align: center;
                letter-spacing: 0.08em;
                color: #FFFFFF;
            }

            .confirmBtn {
                margin: 38px auto 0px;
                width: 76px;
                height: 36px;
                background: linear-gradient(90deg, #4EADF5 0%, #DB2DCF 100%);
                border-radius: 6px;
                font-family: 'PingFang SC';
                font-style: normal;
                font-weight: 400;
                font-size: 14px;
                line-height: 20px;
                /* identical to box height */
                color: #FFFFFF;
            }



            span {
                position: absolute;
                bottom: -60px;
                width: 100%;
                text-align: center;
                font-style: normal;
                font-weight: 400;
                font-size: 12px;
                line-height: 17px;
                color: #DB2DCF;
            }

        }
    }
}