.DestructDesRule {
  background: #EFFFF7;
  box-shadow: 15px 16px 0px #5C5E5D, inset 0px 0px 4px rgba(0, 0, 0, 0.1);
  border-radius: 19px;

  .ant-modal-content {
    box-shadow: none;
    background: transparent
  }

  .ant-modal-header {
    display: none;
  }

  .ant-modal-body {
    position: relative;
    // background: #1d1e44;
    // box-shadow: inset 0px 0px 4px rgba(0, 0, 0, 0.1);
    padding: 0;

    .title {
      font-size: 24px;
      margin: auto;
      margin-top: 30px;
      text-align: center;
      color: #000000;
      box-shadow: 0;
    }

    .box {
      // width: 500px;
      margin: 0 auto;
      margin-bottom: 30px;
      margin-top: 20px;

      .zifujg {
        width: 100%;
        padding-left: 30px;
        padding-right: 30px;
        margin-bottom: 0;
        font-size: 16px;
        color: rgba(0, 0, 0, 0.8);
        text-align: left;
      }
    }

    span {
      position: absolute;
      bottom: -60px;
      width: 100%;
      text-align: center;
      font-style: normal;
      font-weight: 400;
      font-size: 12px;
      line-height: 17px;
      color: #DB2DCF;
    }
  }
}

@media screen and (max-width:425px) {

  .DestructDesRule .ant-modal-body .box .zifujg {
    padding: 0px 20px;
  }
}