.DestructSucceed {
  background: #1d1e44;
  box-shadow: inset 0px 0px 4px rgba(0, 0, 0, 0.1);
  border-radius: 19px;

  .ant-modal-content {
    box-shadow: none;
  }

  .ant-modal-header {
    display: none;
  }

  .ant-modal-body {
    position: relative;
    background: #1d1e44;
    // box-shadow: inset 0px 0px 4px rgba(0, 0, 0, 0.1);
    padding: 0;

    .title {
      font-size: 24px;
      margin: auto;
      margin-top: 30px;
      text-align: center;
      color: #fff;
      box-shadow: 0;
    }

    .SwapSuccessTitle {
      font-size: 24px;
      margin: auto;
      margin-top: 30px;
      text-align: center;
      color: #fff;
      box-shadow: 0;
      margin-bottom: 20px;
    }

    .box {
      // width: 500px;
      margin: 0 auto;
      margin-bottom: 30px;
      margin-top: 20px;

      .zifujg {
        padding: 0px 65px;
        font-family: 'DIN';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;
        letter-spacing: 0.08em;
        color: #FFFFFF;
        text-align: center;
      }
    }

    span {
      position: absolute;
      bottom: -60px;
      width: 100%;
      text-align: center;
      font-family: 'PingFang SC';
      font-style: normal;
      font-weight: 400;
      font-size: 12px;
      line-height: 17px;
      /* identical to box height */
      /* 紫色 */

      color: #DB2DCF;
    }
  }
}