.dropDown {
    display: flex;
    align-items: center;
    width: 150px;
    height: 36px;
    border: 1px solid rgba(20, 253, 135, 0.4);
    color: #14FD87;
    border-radius: 6px;
    margin-left: 10px;
    padding: 10px 15px;
    justify-content: space-between;
}

.DropDown {
    .ant-dropdown-menu {
        background-color: #fff;
        border: 1px solid rgba(20, 253, 135, 0.4);
        border-radius: 6px;

        .ant-dropdown-menu-title-content {
            color: #14FD87;
        }

        .ant-dropdown-menu-item:hover {
            background-color: transparent !important;
        }
    }
}