.GlodMechanism {
  background: #1d1e44;
  box-shadow: inset 0px 0px 4px rgba(0, 0, 0, 0.1);
  border-radius: 19px;
  // height: 490px;
  .ant-modal-content {
    box-shadow: none;
  }
  .ant-modal-header {
    display: none;
  }
  .ant-modal-body {
    position: relative;
    background: #1d1e44;
    // box-shadow: inset 0px 0px 4px rgba(0, 0, 0, 0.1);
    padding: 0;
    .title {
      font-size: 24px;
      margin: auto;
      margin-top: 30px;
      text-align: center;
      color: #fff;
      box-shadow: 0;
    }
    .nodeInte div{
      color: #FFFFFF;
      font-weight: 400;
        font-size: 16px;
    }
    .box {
      max-width: 500px;
      margin: 0 auto;
      margin-bottom: 50px;
      padding:0 20px;
      .tou {
        font-weight: 700;
        font-size: 16px;
        // line-height: 22px;
        margin: 0;
        color: #fff;
      }
      .btm {
        font-weight: 700;
        font-size: 16px;
        margin-top: 30px;
        margin-bottom: 0px;
        color: #fff;
      }
      .zifujg {
        //   text-align: center;
        width: 100%;
        //   margin-left: 40px;
        margin-top: 8px;
        line-height: 1.2;
        font-size: 16px;
        color: #fff;
      }
      @media (max-width:426px) {
        .zifujg {
          font-size: 12px;
        }
      }
    }
    span {
      position: absolute;
      bottom: -80px;
      width: 100%;
      text-align: center;
      font-style: normal;
      font-weight: 400;
      font-size: 12px;
      line-height: 17px;
      color: #DB2DCF;
    }
  }
}
