.GlodJdSy {
  background: #1d1e44;
  box-shadow: inset 0px 0px 4px rgba(0, 0, 0, 0.1);
  border-radius: 19px;
  // height: 424px;
  padding-left: 30px;
  padding-right: 32px;
  .ant-modal-content {
    box-shadow: none;
    background: #1d1e44;
    margin-bottom: 30px;
  }
  .ant-modal-header {
    display: none;
  }
  .ant-modal-body {
    position: relative;
    background: #1d1e44;
    padding: 0;
    .title {
      font-size: 24px;
      margin: auto;
      margin-top: 30px;
      text-align: center;
      color: #fff;
      box-shadow: 0;
    }
    span {
      position: absolute;
      bottom: -85px;
      width: 100%;
      text-align: center;
      font-style: normal;
      font-weight: 400;
      font-size: 12px;
      line-height: 17px;
      color: #DB2DCF;
    }
    .ant-table {
      background: #1d1e44;
    }
    .ant-table-wrapper {
      .ant-pagination {
        display: none;
      }
    }
  }
  .ant-table-thead {
    tr {
      .ant-table-cell-scrollbar {
        box-shadow: none;
      }
      th {
        font-size: 14px;
        background: #1d1e44;
        color: rgba(255, 255, 255, 0.8);
        border: 0;
        text-align: center;
      }
      th:nth-child(1) {
        text-align: left;
        padding-left: 0;
      }
    }
  }
  .ant-table-tbody {
    border-bottom: 0.5px solid rgba(255, 255, 255, 0.1);
    tr {
      font-size: 14px;
      background: #1d1e44;
      color: #fff;
      td {
        border-bottom: 1px solid rgba(255, 255, 255, 0.1);
        text-align: center;
      }
      td:nth-child(1) {
        text-align: left;
        padding-left: 0;
      }
      .ant-table-cell-row-hover {
        background: #1d1e44 !important;
      }
    }
  }
  //表格体的滚动条设置
  .ant-table-body {
    &::-webkit-scrollbar {
      width: 3px; //y轴滚动条粗细
    }

    //滚动条里面的小方块，能上下左右移动（取决于是垂直滚动条还是水平滚动条）
    &::-webkit-scrollbar-thumb {
      background: #5b5c83;
      border-radius: 9px;
    }
    //滚动条的轨道（里面装有thumb）滚动槽
    &::-webkit-scrollbar-track {
      background: rgba(255, 255, 255, 0.1);
      border-radius: 9px;
    }
  }
}
