.banner {

    width: 100%;

    height: 100%;

}

.swiper-slide {

    width: 100%;

    text-align: center;

    margin: 0 auto;

    img {

        text-align: center;

        margin: 0 auto;

        width: 80%;

        height: 600px;

        display: block;

    }

}