.CardItemLinearBorder {
    width: 100%;
    padding: 1px;
    border-radius: 19px;
    box-sizing: border-box;
    height: max-content;
}

.CardItem {
    background: #FFFFFF;
    box-shadow: 15px 15px 0px rgba(116, 153, 138, 0.4);
    border-radius: 10px;
    padding: 15px;
    box-sizing: border-box;
    margin: 1px;

    .ID {
        font-family: 'PingFang SC';
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 22px;
        text-align: center;
        color: rgba(0, 0, 0, 0.6);
        margin-bottom: 12px;
    }

    .CardImg {
        position: relative;
        background: #171833;
        border: 1px solid rgba(255, 255, 255, 0.1);
        overflow: hidden;
        border-radius: 10px;
        width: 100%;

        .cardBg {
            width: 100%;
            height: 100%;
            background: rgba(0, 0, 0, 0.5);
            position: absolute;
            z-index: 99;
            display: flex;
            align-items: center;
        }

        img {
            width: 100%;
        }
    }

    .BoxNum {
        color: #FFFFFF;
        font-weight: 400;
        font-size: 14px;
        text-align: center;
    }

    .cardId {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 16px;
        font-family: 'PingFang SC';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
        color: rgba(255, 255, 255, 0.85);

        .cardTip {
            word-break: break-all;
            flex: auto;
        }

        .toActiveBtn {
            flex-basis: 120px;
            height: 36px;
            background: linear-gradient(90deg, #4EADF5 0%, #DB2DCF 100%);
            border-radius: 6px;
            margin-left: 12px;
            padding: 0px 12px;
        }
    }

    .openBtn {
        padding: 8px 24px;
        width: max-content;
        border-radius: 6px;
        font-weight: 400;
        font-size: 14px;
        color: #FFFFFF;
        margin: 15px auto 0;
    }

    .price {
        font-weight: 400;
        font-size: 14px;
        color: #FFFFFF;
        margin-top: 10px;

        .decorate {
            flex-shrink: 0;
            width: 14px;
            height: 14px;
            background: linear-gradient(90deg, #4EADF5 0%, #DB2DCF 100%);
            border-radius: 50%;
            margin-left: 6px;
        }
    }

    @media (max-width:768px) {
        .price {
            font-size: 12px;
        }
    }

    @media (max-width:425px) {
        .price {
            // justify-content: space-between;
        }

        // .priceFlex{
        //     display: flex;
        //     flex-direction: column;
        // }
    }

    .coinName {
        margin-left: 10px;
    }

    .buyBtn {
        width: max-content;
        padding: 8px 24px;
        border-radius: 6px;
        color: #FFFFFF;
        font-weight: 400;
        font-size: 14px;
        margin: 22px auto 0;
    }
}

@media screen and (max-width:1024px) {
    .CardItem {
        padding: 12px;

        .cardId {
            flex-direction: column;
            align-items: center;

            .toActiveBtn {
                margin: 12px 0px 0px;
                flex-basis: 30px;
                padding: 0px 30px;
            }
        }
    }
}