.header {
    display: block;
    margin: 0 auto;
    width: 300px;
    height: 300px;
    border-radius: 20px;
    object-fit: cover;
}

.swiper-slide-active {
    z-index: 9999;
}

.swiper-wrapper {
    margin-left: 35%;
}

// a.prev {
//     translate: [-150, 0, 0], //设置item偏移量，三个轴，X、Y、Z
//         scale:0.8, //item缩放
//         opacity:0.8, //item透明度
//         rotate:30, //item旋转角度
//         shadow:true, //是否要阴影
//         origin:'left bottom' //item位于左下还是哪里
// }