.nodeApplication {
    .RewardLabel {
        width: 100%;
        display: flex;
        justify-content: center;
        font-family: 'DIN';
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 29px;
        text-align: center;
        color: #DB2DCF;
        margin-bottom: 30px;
    }

    .NodeTips {
        font-family: 'PingFang SC';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 25px;
        color: #FFFFFF;
        margin-bottom: 25px;

        >div {
            font-family: 'PingFang SC';
            font-style: normal;
            font-weight: 400;
            font-size: 18px;
            line-height: 25px;
            color: #FFFFFF;
            margin-bottom: 12px;
        }
    }

    .row {
        display: flex;
        flex-wrap: wrap;

        .RewardItem {
            width: 100%;
        }
    }

    .applyBtn {
        // max-width: 316px;
        height: 40px;
        width: 100%;
        background: linear-gradient(90deg, #4EADF5 0%, #DB2DCF 100%);
        border-radius: 6px;
        height: 36px;
        color: #FFFFFF;
        font-weight: 700;
        font-size: 14px;
        margin-bottom: 10px;
        margin: 36px 0 15px;
        padding: 0px 40px;

    }

    .record {
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: 'PingFang SC';
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 17px;
        /* identical to box height */
        color: #DB2DCF;

        img {
            margin-left: 5px;
        }
    }

    .invalid {
        background: rgba(255, 255, 255, 0.2);
    }

    .BtnRow {
        display: flex;
    }

    .receiveNodeBtn {
        background: linear-gradient(90deg, #4EADF5 0%, #DB2DCF 100%);
        border-radius: 6px;
        height: 36px;
        color: #FFFFFF;
        font-weight: 700;
        font-size: 14px;
        margin-bottom: 10px;
        flex: 1;
        margin-right: 16px;
    }

    .returnBtn {
        background: rgba(255, 255, 255, 0.2);
        border-radius: 6px;
        height: 36px;
        color: #FFFFFF;
        font-weight: 700;
        font-size: 14px;
        margin-bottom: 10px;
        flex: 1;
    }

    @keyframes rotate {
        0% {
            -webkit-transform: rotate(0deg);
        }

        25% {
            -webkit-transform: rotate(90deg);
        }

        50% {
            -webkit-transform: rotate(180deg);
        }

        75% {
            -webkit-transform: rotate(270deg);
        }

        100% {
            -webkit-transform: rotate(360deg);
        }
    }
}