.SwapTitle {
  margin-top: 60px;
  font-family: 'Impact';
  font-style: normal;
  font-weight: 400;
  font-size: 60px;
  line-height: 73px;
  color: rgba(0, 0, 0, 0.8);
  text-align: center;
}

#Pledge {
  margin-bottom: 20px;

  .PledgeTabs {
    display: flex;
    align-items: center;
    margin-top: 20px;

    .invalidTab {
      font-family: 'PingFang SC';
      font-style: normal;
      font-weight: 700;
      font-size: 16px;
      line-height: 22px;
      color: rgba(0, 0, 0, 0.6);
      padding: 13px 46px;
      border: 1px solid rgba(0, 0, 0, 0.2);
      border-radius: 6px;
      margin-right: 30px;
    }

    .activeTab {
      color: #FFFFFF;
      border: 1px solid transparent;
      background: url(../../image/btnBg.png) no-repeat center / 100% 100%;
    }
  }
}

.pledgeScreen {
  // margin-top: 20px;
  display: flex;
  margin-top: 20px;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  background: #FFFFFF;
  box-shadow: 15px 16px 0px rgba(116, 153, 138, 0.4);
  border-radius: 19px;
  padding: 25px 35px;

  .Tabs {
    display: flex;

    .pledgeValueBox {
      >div {
        font-size: 16px;
      }
    }

    >div {
      font-family: 'PingFang SC';
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 22px;
      color: rgba(0, 0, 0, 0.8);
    }

  }

  .itemBox {
    font-family: 'PingFang SC';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;

    color: #FFFFFF;

    >div {
      font-family: 'PingFang SC';
      font-style: normal;
      font-weight: 700;
      font-size: 16px;
      line-height: 22px;
      color: rgba(0, 0, 0, 0.8);
      padding: 10px 0px;
    }

    .ableGetReward {
      display: flex;
      align-items: center;
      font-family: 'PingFang SC';
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      color: rgba(0, 0, 0, 0.8);

      span {
        font-family: 'PingFang SC';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;

        color: rgba(20, 253, 135, 1);
      }

      .getBtn {
        width: 76px;
        height: 36px;
        background: url(../../image/btnBg.png) no-repeat center / 100% 100%;
        border-radius: 6px;
        font-family: 'PingFang SC';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        /* identical to box height */
        color: #FFFFFF;
        margin-left: 20px;
      }
    }
  }

  // @media (max-width:1024px) {
  //   margin-top: 0px;
  // }
}




.CardList {
  display: grid;
  grid-template-columns: repeat(auto-fill, 270px);
  grid-row-gap: 40px;
  grid-column-gap: 40px;
  justify-content: space-between;
  margin-top: 20px;
  max-width: 1200px;
}

@media (max-width:1023px) {
  .CardList {
    grid-template-columns: repeat(auto-fill, 180px);
  }

  #Pledge .PledgeTabs .invalidTab {
    padding: 8px 20px;
  }
}

@media (max-width:425px) {
  .SwapTitle {
    margin-top: 20px;
    font-size: 28px !important;
  }

  #Pledge .PledgeTabs {
    margin-top: 0px;
  }

  .CardList {
    grid-template-columns: repeat(auto-fill, 173px);
    grid-row-gap: 20px;
    grid-column-gap: 20px;
  }

  .pledgeScreen .Tabs>div .recentlyComputingPower {
    margin-bottom: 8px;
  }

  .pledgeScreen .DropDownGroup {
    margin-top: 8px;
  }
}

@media (max-width:374px) {
  .CardList {
    grid-template-columns: repeat(auto-fill, 144px);
    grid-row-gap: 15px;
    grid-column-gap: 15px;
  }
}