.Puchased {
  background: #1d1e44;
  box-shadow: inset 0px 0px 4px rgba(0, 0, 0, 0.1);
  border-radius: 19px;
  height: 222px;
  .ant-modal-content {
    box-shadow: none;
  }
  .ant-modal-header {
    display: none;
  }
  .ant-modal-body {
    position: relative;
    background: #1d1e44;
    // box-shadow: inset 0px 0px 4px rgba(0, 0, 0, 0.1);
    padding: 0;
    .title {
      font-size: 24px;
      margin: auto;
      margin-top: 30px;
      text-align: center;
      color: #fff;
      box-shadow: 0;
    }
    .zifujg {
      text-align: center;
      height: 22px;
      margin-top: 20px;
      line-height: 22px;
      font-size: 16px;
      color: #fff;
    }
    .btm {
      display: block;
      margin: auto;
      margin-top: 50px;
      color: #fff;
      width: 76px;
      height: 36px;
      background: linear-gradient(90deg, #4eadf5 0%, #db2dcf 100%);
      border-radius: 6px;
      border: 0;
    }
    span {
      position: absolute;
      bottom: -60px;
      width: 100%;
      text-align: center;
      font-style: normal;
      font-weight: 400;
      font-size: 12px;
      line-height: 17px;
      color: #DB2DCF;
    }
  }
}
