.PutParticulars {
  background: #1d1e44;
  box-shadow: inset 0px 0px 4px rgba(0, 0, 0, 0.1);
  border-radius: 19px;
  position: relative;
  // height: 573px;
  padding-bottom: 100px !important;
  .ant-modal-content {
    box-shadow: none;
  }
  .ant-modal-header {
    display: none;
  }
  .ant-modal-body {
    background: #1d1e44;
    box-shadow: inset 0px 0px 4px rgba(0, 0, 0, 0.1);
    padding: 0;
    .title {
      font-size: 24px;
      margin: 30px auto;
      text-align: center;
      color: #fff;
      box-shadow: 0;
    }
    .hzimg {
      width: 150px;
      height: 150px;
      background: #171833;
      border: 1px solid rgba(255, 255, 255, 0.1);
      border-radius: 10px;
      margin: 0 auto;
      overflow: hidden;
      img{
        width: 100%;
      }
    }
    .kpdetails {
      min-height: 20px;
      margin-top: 20px;
      padding-left: 30px;
      color: #fff;
      font-size: 14px;
      input {
        margin-left: 20px;
        margin-right: 10px;
        width: 140px;
        height: 38px;
        background: #171833;
        border: 1px solid rgba(255, 255, 255, 0.1);
        border-radius: 10px;
      }
    }
    .butm {
      width: 80%;
      display: flex;
      justify-content: space-around;
      margin: 0 auto;
      color: #fff;
      margin-top: 66px;
      //   flex-grow: 0;
      margin-bottom: 30px;
      .hc {
        border: 0;
        width: 76px;
        height: 36px;
        background: linear-gradient(90deg, #4eadf5 0%, #db2dcf 100%);
        border-radius: 6px;
      }
    }
    span {
      width: 100%;
      text-align: center;
      position: absolute;
      bottom: -60px;
      font-style: normal;
      font-weight: 400;
      font-size: 12px;
      line-height: 17px;
      color: #DB2DCF;
    }
  }
}
