.MergeSynthesisList {
    margin-top: 15px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 20px 20px;
    // width: 550px;
    max-height: 550px;
    border-left: 1px solid rgba(255, 255, 255, 0.2);
    .Category {
        width: 100%;
        display: flex;
        justify-content: space-between;

        >div {
            height: 36px;
        }

        .Page {
            // 分页样式
            display: flex;
            align-items: center;
            justify-content: end;

            ul {
                display: flex;
                align-items: center;
                justify-content: space-around;
            }

            button {
                width: 24px;
                height: 24px;

            }

            .ant-pagination {
                .ant-pagination-prev {
                    margin-right: 0;
                    min-width: 34px;

                    button {
                        border: 1px solid rgba(255, 255, 255, 0.2);
                        border-radius: 6px;
                        color: rgba(255, 255, 255, 0.2);

                    }
                }

                .ant-pagination-simple-pager {
                    width: 50px;
                    line-height: 24px;
                    margin-right: 0;
                    color: rgba(255, 255, 255, 0.8);

                    span {
                        margin: 0 auto;
                    }

                    input {
                        width: 22px;
                        background: #1d1e44;
                        border: 0;
                        margin-right: 0;
                    }
                }

                .ant-pagination-next {
                    display: flex;
                    justify-content: end;

                    button {
                        font-size: 14px;
                        font-weight: 700;
                        border-radius: 6px;
                        background: linear-gradient(90deg, #4EADF5 0%, #DB2DCF 100%);
                        color: #fff;
                        font-weight: 400;
                    }
                }
            }
        }

        .dropDown {
            display: flex;
            align-items: center;
            border: 1px solid rgba(255, 255, 255, 0.2);
            color: rgba(255, 255, 255, 0.6);
            border-radius: 6px;
            margin-left: 0 ;
            padding: 10px 15px;
            justify-content: space-between;
        }
    }
    .CardListBox {
        max-height: 495px;
        overflow-y: auto;
        display: grid;
        margin-top: 12px;
        grid-template-columns: repeat(2,130px);
        grid-row-gap: 20px;
        grid-column-gap: 20px;
        justify-content:center;

        .SynthesisCardList {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 128px;
            border-radius: 19px;
            padding-top: 15PX;
            padding:15px 15px 0;
            box-sizing: border-box;
            border: 1px solid rgba(255, 255, 255, 0.2);

            .Img {
                background: #171833;
                border: 1px solid rgba(255, 255, 255, 0.1);
                border-radius: 10px;
                width: 100%;
                // height: 186px;
                overflow: hidden;
                // margin-top: 15px;
                img{
                    width: 100%;
                }

            }

            .Id {
                font-style: 14px;
                font-weight: 400;
                margin-top: 10px;
            }

        } 
    }
}