.slideBox {
  margin-top: 60px;

  /*  去掉图片低测默认的3像素空白缝隙*/
  table {
    border-collapse: collapse;
    /*合并外边线*/
  }

  li {
    list-style-type: none;
  }

  img {
    width: 100%;
    //  border-radius: 20px;
    // box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
  }

  position: relative;
  width: 100%;
  height: 650px;
  /* 居中 */
  top: -30px;
  left: 50%;
  transform: translate(-50%, 10%);

  .imgs {
    position: absolute;
    width: 435px;
    height: 284px;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0%);
  }

  .imgs {
    li {
      position: absolute;
      width: 435px;
      transition: 0.5s;
      // overflow: hidden;
      border-radius: 15px 15px 0px 0px;
      box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
      background: #161731 !important;


      .imgBox {
        border-radius: 15px 15px 0px 0px;
        overflow: hidden;

        .tip {
          span {
            position: absolute;
            top: 15px;
            right: 18px;
            font-family: 'PingFang SC';
            font-style: normal;
            font-weight: 700;
            font-size: 24px;
            line-height: 34px;
            /* identical to box height */
            color: #FFFFFF;
          }
        }
      }
    }
  }

  .imgs .one {

    .tip {
      overflow: hidden;
      position: absolute;
      top: 0px;
      right: 0px;

      font-family: 'PingFang SC';
      font-style: normal;
      font-weight: 400;
      font-size: 24px;
      line-height: 34px;
      /* identical to box height */
      color: #FFFFFF;
      width: 100px;
      height: 100px;
      // transform: rotate(45deg);
    }

    .banner {
      display: none;
    }

    transform: translateX(-400px) scale(0.8);
    z-index: 1;
    opacity: .7;
  }

  .imgs .two {


    .tip {
      overflow: hidden;
      position: absolute;
      top: 0px;
      right: 0px;

      font-family: 'PingFang SC';
      font-style: normal;
      font-weight: 400;
      font-size: 24px;
      line-height: 34px;
      /* identical to box height */
      color: #FFFFFF;
      width: 100px;
      height: 100px;
      // transform: rotate(45deg);
    }

    .banner {
      display: none;
    }

    transform: translateX(-200px) scale(0.9);
    z-index: 2;
    opacity: .8;
  }

  .imgs .three {

    .tip {
      overflow: hidden;
      position: absolute;
      top: 0px;
      right: 0px;

      font-family: 'PingFang SC';
      font-style: normal;
      font-weight: 400;
      font-size: 24px;
      line-height: 34px;
      /* identical to box height */
      color: #FFFFFF;
      width: 100px;
      height: 100px;
      // transform: rotate(45deg);
    }

    .banner {
      padding: 20px 30px;
      background: #161731 !important;
      box-shadow: -28px 0px 52px rgba(4, 4, 24, 0.6), 27px 0px 54px rgba(4, 4, 24, 0.6);
      border-radius: 0px 0px 15px 15px;

      .title {
        font-family: 'PingFang SC';
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 28px;
        /* identical to box height */
        color: #DB2DCF;
      }

      .subTitle {
        margin-top: 5px;
        font-family: 'PingFang SC';
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 28px;
        /* identical to box height */
        color: rgba(255, 255, 255, 0.8);
      }
    }

    // transform: translateX(300px) scale(1);
    z-index: 3;
    opacity: 1;
  }

  .imgs .four {

    .tip {
      overflow: hidden;
      position: absolute;
      top: 0px;
      right: 0px;

      font-family: 'PingFang SC';
      font-style: normal;
      font-weight: 400;
      font-size: 24px;
      line-height: 34px;
      /* identical to box height */
      color: #FFFFFF;
      width: 100px;
      height: 100px;
      // transform: rotate(45deg);
    }

    .banner {
      display: none;
    }

    transform: translateX(200px) scale(0.9);
    z-index: 2;
    opacity: .8;
  }

  .imgs .five {

    .tip {
      overflow: hidden;
      position: absolute;
      top: 0px;
      right: 0px;

      font-family: 'PingFang SC';
      font-style: normal;
      font-weight: 400;
      font-size: 24px;
      line-height: 34px;
      /* identical to box height */
      color: #FFFFFF;
      width: 100px;
      height: 100px;
      // transform: rotate(45deg);
    }

    .banner {
      display: none;
    }

    z-index: 1;
    opacity: .7;
    transform: translateX(400px) scale(0.8);
  }

  .list {
    position: absolute;
    top: 210px;
    bottom: -25px;
    left: 45%;
    z-index: 777;
  }

  .list li {
    float: left;
    width: 7px;
    height: 7px;
    background-color: rgb(230, 230, 230);
    border-radius: 50%;
    margin: 0 6px;
    cursor: pointer;
  }

  /* 小圆圈改变后的样式 */
  .list .change {
    background-color: rgb(236, 65, 65);
  }

  /*公共类*/

  .show {
    opacity: 1 !important;
  }

  .unshow {
    opacity: 0 !important;
  }

  .hide {
    display: none !important;
  }
}

@media screen and (max-width:1440px) {
  .slideBox {
    display: flex;
    justify-content: center;
    height: 562px;

    .imgs {
      width: 350px;

      .one {
        transform: translateX(-200px) scale(0.9);
      }

      .two {
        transform: translateX(-100px) scale(0.9);
      }

      .three {
        // transform: translateX(200px) scale(0.9);
      }

      .four {
        transform: translateX(100px) scale(0.9);
      }

      .five {
        transform: translateX(200px) scale(0.9);
      }

      li {
        width: 350px;
      }
    }
  }
}
@media screen and (max-width:768px) {
  .slideBox {
    display: flex;
    justify-content: center;
    height: 530px;

    .imgs {
      max-width: 350px;
      width: 100%;

      .one {
        transform: translateX(0px) scale(0.9);
      }

      .two {
        transform: translateX(0px) scale(0.9);
      }

      .three {
        // transform: translateX(200px) scale(0.9);
      }

      .four {
        transform: translateX(0px) scale(0.9);
      }

      .five {
        transform: translateX(0px) scale(0.9);
      }

      li {
        max-width: 350px;
        width: 100%;
      }
    }
  }
}