.SuccessAddLiquidity {
    .ant-modal-content {
        padding: 30px 40px;
        background: #1D1E44;
        box-shadow: inset 0px 0px 4px rgba(0, 0, 0, 0.1);
        border-radius: 19px;

        .ant-modal-body {
            position: relative;
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 0px;


            .title {
                font-family: 'PingFang SC';
                font-style: normal;
                font-weight: 700;
                font-size: 24px;
                line-height: 34px;
                /* identical to box height */
                text-align: center;
                color: #FFFFFF;
                margin-bottom: 50px;
            }

            >div {
                width: 100%;
                text-align: left;
            }

            .subTitle {
                font-family: 'PingFang SC';
                font-style: normal;
                font-weight: 400;
                font-size: 14px;
                line-height: 20px;
                /* identical to box height */
                text-align: left;
                color: #FFFFFF;
                margin-bottom: 6px;
            }


            .coinValueBox {
                font-family: 'DIN';
                font-style: normal;
                font-weight: 700;
                font-size: 40px;
                line-height: 49px;
                /* identical to box height */
                color: #FFFFFF;
                display: flex;
                margin-bottom: 18px;

                .coinsBox {
                    margin-left: 12px;
                    display: flex;
                    align-items: center;
                    width: 43px;
                    position: relative;

                    .img2 {
                        position: absolute;
                        left: 17px;
                        z-index: 1;
                    }

                    .img1 {
                        z-index: 2;
                    }
                }
            }

            .subTokens {
                font-family: 'DIN';
                font-style: normal;
                font-weight: 500;
                font-size: 14px;
                line-height: 17px;
                /* identical to box height */
                text-align: left;
                letter-spacing: 0.08em;
                color: #FFFFFF;
            }



            .supplyBtn {
                width: 270px;
                height: 36px;
                background: rgba(255, 255, 255, 0.2);
                border-radius: 6px;
                font-family: 'PingFang SC';
                font-style: normal;
                font-weight: 700;
                font-size: 14px;
                line-height: 20px;
                /* identical to box height */
                color: #FFFFFF;
                margin-top: 50px;
            }

            .toSupplyBtn {
                width: 270px;
                height: 36px;
                background: linear-gradient(90deg, #4EADF5 0%, #DB2DCF 100%);
                border-radius: 6px;
                font-family: 'PingFang SC';
                font-style: normal;
                font-weight: 700;
                font-size: 14px;
                line-height: 20px;
                /* identical to box height */
                color: #FFFFFF;
                margin-top: 50px;
            }

            span {
                position: absolute;
                bottom: -60px;
                width: 100%;
                text-align: center;
                font-style: normal;
                font-weight: 400;
                font-size: 12px;
                line-height: 17px;
                color: #DB2DCF;
            }

        }
    }
}